<h1 mat-dialog-title>Match S#2</h1>
<div mat-dialog-content>
    
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
      <mat-radio-group [(ngModel)]="selectedTypeMatch" >
        <mat-radio-button color="primary" *ngFor="let typeMatch of typeMatchs" [value]="typeMatch" style="margin-right:10px" >
          <small>{{typeMatch}}</small>
        </mat-radio-button>
      </mat-radio-group>
      </div>
    </div>
    

<!--  <div class="row" style="background-color:coral">
    <div class="col-3" style="border-left:2px solid white;border-right:2px solid white;border-top:2px solid white;"></div>
    <div class="col-3" align="center" style="border-right:1px solid white;border-top:2px solid white;border-bottom:1px solid white;">

      <button *ngIf="false" class="btn btn-sm btn-success matchPlayerButton" >
        A2
      </button>

    </div>
    <div class="col-3" style="border-left:1px solid white;border-right:1px solid white;border-bottom:1px solid white;border-top:2px solid white;"></div>
    <div class="col-3" align="center" style="border-left:1px solid white;border-right:2px solid white;border-top:2px solid white;">

      <button class="btn btn-sm btn-success matchPlayerButton" style="margin:5px 5px">
        M. Humot
      </button>

    </div>
    <div class="w-100"></div>
    <div class="col-3" align="center" style="border-left:2px solid white;border-right:2px solid white;border-bottom:2px solid white;">

      <button class="btn btn-sm btn-success matchPlayerButton" style="margin:5px 5px">
        N. Dupont
      </button>

    </div>
    <div class="col-3" style="border-right:1px solid white;border-top:1px solid white;border-bottom:2px solid white;"></div>
    <div class="col-3" align="center" style="border-left:1px solid white;border-right:1px solid white;border-bottom:2px solid white;border-top:1px solid white;">

      <button *ngIf="false" class="btn btn-sm btn-success matchPlayerButton" style="margin:5px 5px">
        B2
      </button>

    </div>
    <div class="col-3" style="border-left:1px solid white;border-right:2px solid white;border-bottom:2px solid white;"></div>
  </div>-->


  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-sm" style="text-align:center">
          <thead class="bg-info">
          <tr>
            <th scope="col">Adversaires</th>
            <th scope="col">Set 1</th>
            <th scope="col">Set 2</th>
            <th scope="col">Set 3</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
                <select placeholder="Joueur Visites 1" required [(ngModel)]="joueurVisites1Id" >
                  <option *ngFor="let joueur of listeJoueursVisites" [value]="joueur.id">
                    <small>
                      {{joueur.nom}}
                    </small>
                  </option>
                </select>
                <span *ngIf="isDouble();">&nbsp;/&nbsp;</span>
                <select *ngIf="isDouble();" placeholder="Joueur Visites 2" required [(ngModel)]="joueurVisites2Id" >
                  <option *ngFor="let joueur of listeJoueursVisites" [value]="joueur.id">
                    <small>
                      {{joueur.nom}}
                    </small>
                  </option>
                </select>
            </td>
            <td><strong>5</strong></td>
            <td>2</td>
            <td>2</td>
          </tr>
          <tr>
            <td>
                <select placeholder="Joueur Visiteurs 1" required [(ngModel)]="joueurVisiteurs1Id" >
                  <option *ngFor="let joueur of listeJoueursVisiteurs" [value]="joueur.id">
                    <small>
                      {{joueur.nom}}
                    </small>
                  </option>
                </select>
                <span *ngIf="isDouble();">&nbsp;/&nbsp;</span>
                <select *ngIf="isDouble();" placeholder="Joueur Visiteurs 2" required [(ngModel)]="joueurVisiteurs2Id" >
                  <option *ngFor="let joueur of listeJoueursVisiteurs" [value]="joueur.id">
                    <small>
                      {{joueur.nom}}
                    </small>
                  </option>
                </select>
                
            </td>
            <!--DROWDOWN - SELECT-->
              <select class="form-control input-sm" >
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
              </select>
            <!--<td>1</td>-->
            <td><strong>5</strong></td>
            <td><strong>4</strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div align="center">
    <button class="btn btn-danger" (click)="cancel();">Annuler</button>
    <button class="btn btn-success" (click)="save();">Sauver</button>
  </div>

</div>
