<div class="card tennisCorpoBox">
  <h4 class="card-header">
    Rencontre
  </h4>
  <div class="card-body">

    <div class="row">

      <div class="col-2">
        <div style="text-align:right;margin-top:25px;">
          <i class="fa fa-windows fa-4x fa-rotate-90" style="color:greenyellow"></i>
        </div>
      </div>

      <div class="col-10">
        <div class="myBox">
          <div class="myBoxTitle" >
            {{getTypeChampionnat(rencontre.division.championnat).libelle}}
            {{rencontre.division.championnat.annee}}
            {{getCategorieChampionnat(rencontre.division.championnat).libelle}}
            - Division {{rencontre.division.numero}}<span *ngIf="rencontre.poule"> - Poule {{rencontre.poule.numero}}</span>
          </div>
          <div class="myBoxContent text-center">
              <strong>{{rencontre.equipeVisites.codeAlphabetique}} - {{rencontre.equipeVisiteurs.codeAlphabetique}}</strong><br/>
              <span style="color:red"><em>Rencontre non-validée</em></span>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="col-12">
      <div class="myBox myBoxEditable">
        <div class="myBoxTitle" >
          Date et lieu de la rencontre<span style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
        </div>
        <div class="myBoxContent">
          <span *ngIf="rencontre.dateHeureRencontre">{{formatDate(rencontre.dateHeureRencontre)}}</span><br />
          Terrain : <span *ngIf="rencontre.terrain"><a href="https://maps.google.com/?q={{rencontre.terrain.adresse}}" target="_blank">{{rencontre.terrain.nom}}</a></span><br />
        </div>
      </div>
    </div>
  </div>

    <div class="row">

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="bg-info">
          <tr>
            <th scope="col">Match</th>
            <th scope="col">Adversaires</th>
            <th scope="col">Résultat</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><strong>S#1</strong></td>
            <td>N. Dupont<br />M. Humot</td>
            <td><strong>5</strong>&nbsp;&nbsp;2<br />1&nbsp;&nbsp;<strong>4</strong></td>
          </tr>
          <tr>
            <td><strong>S#2</strong></td>
            <td><em>Non-renseignés</em></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>S#3</strong></td>
            <td><em>Non-renseignés</em></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>S#4</strong></td>
            <td><em>Non-renseignés</em></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>D#1</strong></td>
            <td>N. Dupont / S. Tumus<br />M. Humot / D. Morat</td>
            <td>3&nbsp;&nbsp;<strong>4</strong><br /><strong>5</strong>&nbsp;&nbsp;4</td>
            <td></td>
          </tr>
          <tr>
            <td><strong>D#2</strong></td>
            <td><em>Non-renseignés</em></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

      <button class="btn btn-sm btn-primary" (click)="ouvrirMatch()">Ouvrir match</button>

    </div>

  </div>

</div>
