<div class="card tennisCorpoBox">
  <h4 class="card-header">
    Rencontre
  </h4>
  <div class="card-body">

    <div class="row">

      <div class="col-2">
        <div style="text-align:right;margin-top:50px;">
          <i class="fa fa-windows fa-4x fa-rotate-90" style="color:greenyellow"></i>
        </div>
      </div>

      <div class="col-10">
        <div class="myBox">
          <div class="myBoxTitle" >
            {{getTypeChampionnat(rencontre.division.championnat).libelle}}
            {{rencontre.division.championnat.annee}}
            {{getCategorieChampionnat(rencontre.division.championnat).libelle}}
            - Division {{rencontre.division.numero}}<span *ngIf="rencontre.poule"> - Poule {{rencontre.poule.numero}}</span>
            ({{rencontre.division.pointsMinimum}}-{{rencontre.division.pointsMaximum}} points)
          </div>
          <div class="myBoxContent text-center">
              <div *ngIf="rencontre.informationsInterserie" class="row">
                <div class="col-12" >
                  {{rencontre.informationsInterserie}}
                </div>
              </div>
              <div class="row">
                  <div class="col-lg-4 col-md-12" style="margin:auto;">
                    <strong>
                      <span style="font-size:1.2em;">{{rencontre.equipeVisites.codeAlphabetique}}</span>
                      <span *ngIf="rencontre.equipeVisites.hybride">&nbsp;<a (click)="showInfosEquipeHybride();" style="color:darkgoldenrod;cursor:pointer;"><i class="fa fa-asterisk" ></i></a></span>
                    </strong>
                  </div>
                  <div class="col-lg-4 col-md-12" style="margin:auto;">
                  <strong>
                      <span style="font-size:2em;">
                          <span *ngIf="rencontre.pointsVisites!=null">{{rencontre.pointsVisites}}</span>
                          &nbsp;
                          -
                          &nbsp;
                          <span *ngIf="rencontre.pointsVisiteurs!=null">{{rencontre.pointsVisiteurs}}</span>
                      </span>
                  </strong>
                  </div>
                  <div class="col-lg-4 col-md-12" style="margin:auto;">
                    <strong>
                      <span style="font-size:1.2em;">{{rencontre.equipeVisiteurs.codeAlphabetique}}</span>
                      <span *ngIf="rencontre.equipeVisiteurs.hybride">&nbsp;<a (click)="showInfosEquipeHybride();" style="color:darkgoldenrod;cursor:pointer;"><i class="fa fa-asterisk" ></i></a></span>
                    </strong>
                  </div>
              </div>
              <div>
                  <div>
                  <span *ngIf="jeuxVisites!=null">{{jeuxVisites}}</span>
                  &nbsp;
                  -
                  &nbsp;
                  <span *ngIf="jeuxVisiteurs!=null">{{jeuxVisiteurs}}</span>
                  </div>
                  <div *ngIf="!rencontre.resultatsEncodes || !rencontre.valide" >
                      <div>
                        <span style="font-weight:bold;color:red"><em>Résultats non-validés</em></span>
                        <button *ngIf="traces.length>0" class="btn" (click)="showHistory();"><i class="fa fa-history" aria-hidden="true"></i></button>
                      </div>
                    <div class="workflowButtonDiv" *ngIf="isResultatsCloturables">
                        <button class="btn btn-sm btn-success" (click)="setResultatsEncodes(true);" >Encodage terminé&nbsp;<i class="fa fa-step-forward"></i></button>
                    </div>
                      <div class="workflowButtonDiv" *ngIf="isPoursuiteEncodagePossible">
                        <button class="btn btn-sm btn-warning" (click)="setResultatsEncodes(false);" >Poursuivre encodage&nbsp;<i class="fa fa-step-backward"></i></button>
                      </div>
                    <div class="workflowButtonDiv" *ngIf="isEtatValidable">
                      <button class="btn btn-sm btn-success" (click)="validationParAdversaire();" >Valider par l'adversaire&nbsp;<i class="fa fa-check"></i></button>
                    </div>
                      <div class="workflowButtonDiv" *ngIf="isValidable">
                          <button class="btn btn-sm btn-success" (click)="setValidite(true);" >Valider&nbsp;<i class="fa fa-check"></i></button>
                      </div>
                  </div>

                  <div *ngIf="rencontre.valide">
                      <div>
                        <span style="font-weight:bold;color:darkgreen"><em>Résultats validés</em></span>
                        <button *ngIf="traces.length>0" class="btn" (click)="showHistory();"><i class="fa fa-history" aria-hidden="true"></i></button>
                      </div>
                      <div class="workflowButtonDiv" *ngIf="isAdminConnected() && !rencontre.division.championnat.cloture">
                        <button class="btn btn-sm btn-danger" (click)="setValidite(false);" >Dévalider&nbsp;<i class="fa fa-times"></i></button>
                      </div>
                  </div>

                  <div *ngIf="isJoueursManquants();">
                    <small style="color:red">Certains joueurs non-précisés</small>
                  </div>

              </div>
            </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-12">
      <div [ngClass]="boxClass">
        <div class="myBoxTitle" (click)="ouvrirDateTerrain();" >
          Date et lieu de la rencontre<span *ngIf="isAdminConnected() && !rencontre.division.championnat.cloture" style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
        </div>
        <div class="myBoxContent">
            <div class="row">
                <div class="col-6" *ngIf="rencontre.dateHeureRencontre">
                    {{rencontre.dateHeureRencontre| date:'dd/MM/yyyy HH:mm'}}
                </div>
                <div class="col-6" *ngIf="rencontre.dateHeureRencontre">
                  <button class="btn btn-sm btn-info" (click)="ouvrirGoogleAgenda();"><i class="fa fa-calendar"></i>&nbsp;Google Agenda</button>
                </div>
                <div class="col-6">
                    Terrain : <span *ngIf="rencontre.terrain"><a href="https://maps.google.com/?q={{rencontre.terrain.adresse}}" target="_blank">{{rencontre.terrain.nom}}</a></span>
                </div>
                <div class="col-6" *ngIf="rencontre.court">
                    Court : {{rencontre.court.code}}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-12">
        <div class="myBox">
          <div class="myBoxTitle"  >
            Capitaines
          </div>
          <div class="myBoxContent">
              <div class="row" *ngIf="rencontre.equipeVisites.capitaine" >
                <div class="col-12">
                  <strong>{{rencontre.equipeVisites.codeAlphabetique}}</strong> :
                  {{rencontre.equipeVisites.capitaine.nom}} {{rencontre.equipeVisites.capitaine.prenom}}
                  <a *ngIf="isUserConnected()" style="cursor:pointer;color:#007bff;" (click)="ouvrirInfosCapitaine(rencontre.equipeVisites.capitaine);" ><i class="fa fa-eye"></i></a>
                </div>
              </div>
            <div class="row" *ngIf="rencontre.equipeVisiteurs.capitaine" >
              <div class="col-12">
                <strong>{{rencontre.equipeVisiteurs.codeAlphabetique}}</strong> :
                {{rencontre.equipeVisiteurs.capitaine.nom}} {{rencontre.equipeVisiteurs.capitaine.prenom}}
                <a *ngIf="isUserConnected()" style="cursor:pointer;color:#007bff;" (click)="ouvrirInfosCapitaine(rencontre.equipeVisiteurs.capitaine);" ><i class="fa fa-eye"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="canAuthoriseEncodage || canAuthoriseValidation">
      <div class="col-12">
        <div class="myBox">
          <div class="myBoxTitle">
            Autorisations
          </div>
          <div class="myBoxContent">
            <div class="autorisationBox" *ngIf="canAuthoriseEncodage">
              <span class="autorisationTitle" ><em>&nbsp;Encodage des résultats&nbsp;</em></span>
                <div class="autorisationMembreDiv" *ngFor="let autorisation of getAutorisationsEncodage()">
                  {{autorisation.membre.nom}}&nbsp;{{autorisation.membre.prenom}}
                  <a (click)="deleteAutorisation(autorisation);" style="cursor:pointer"><i class="fa fa-trash"></i></a>
                </div>
              <div>
                <button class="btn btn-sm btn-success" (click)="addAutorisationEncodage();"><i class="fa fa-plus"></i>&nbsp;Ajouter membre</button>
              </div>
            </div>
            <div class="autorisationBox" *ngIf="canAuthoriseValidation">
              <span class="autorisationTitle" ><em>&nbsp;Validation des résultats&nbsp;</em></span>
              <div class="autorisationMembreDiv" *ngFor="let autorisation of getAutorisationsValidation()">
                {{autorisation.membre.nom}}&nbsp;{{autorisation.membre.prenom}}
                <a (click)="deleteAutorisation(autorisation);" style="cursor:pointer"><i class="fa fa-trash"></i></a>
              </div>
              <div>
                <button class="btn btn-sm btn-success" (click)="addAutorisationValidation();"><i class="fa fa-plus"></i>&nbsp;Ajouter membre</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="verificationPoints()">
      <div *ngIf="isSimpleExists()" class="row">
        <div class="col-12">
          <strong>Simples :</strong>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          {{rencontre.equipeVisites.codeAlphabetique}} : <span class="{{pointsDepassesSimplesVisites()}}">{{pointsSimplesVisites()}} points</span>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          {{rencontre.equipeVisiteurs.codeAlphabetique}} : <span class="{{pointsDepassesSimplesVisiteurs()}}">{{pointsSimplesVisiteurs()}} points</span>
        </div>
      </div>

      <div *ngIf="isDoubleExists()" class="row">
        <div class="col-12">
          <strong>Doubles :</strong>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          {{rencontre.equipeVisites.codeAlphabetique}} : <span class="{{pointsDepassesDoublesVisites()}}">{{pointsDoublesVisites()}} points</span>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          {{rencontre.equipeVisiteurs.codeAlphabetique}} : <span class="{{pointsDepassesDoublesVisiteurs()}}">{{pointsDoublesVisiteurs()}} points</span>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="bg-info">
          <tr>
            <th scope="col">Match</th>
            <th scope="col">Adversaires</th>
            <th scope="col">Résultat</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let matchExtended of matchs">
              <td><strong>{{getMatchIdent(matchExtended.match)}}</strong></td>
              <td>
                  <a class="joueur {{getEditableClass(matchExtended.match)}} {{getVisitesClass(matchExtended.match)}}" (click)="selectionnerJoueur(matchExtended,1,1)">
                      <span *ngIf="matchExtended.match.joueurVisites1" >{{matchExtended.match.joueurVisites1.nom}} {{matchExtended.match.joueurVisites1.prenom}}<span *ngIf="getPointsCorpo(matchExtended,1,1)">&nbsp;<small>({{getPointsCorpo(matchExtended,1,1)}} points)</small></span></span>
                      <span *ngIf="!matchExtended.match.joueurVisites1"><em>Joueur à préciser</em></span>
                  </a>
                  <span class="{{getVisitesClass(matchExtended.match)}}" *ngIf="isDouble(matchExtended.match)">/</span>
                  <span *ngIf="isDouble(matchExtended.match)">
                      <a class="joueur {{getEditableClass(matchExtended.match)}} {{getVisitesClass(matchExtended.match)}}" (click)="selectionnerJoueur(matchExtended,1,2)">
                        <span *ngIf="matchExtended.match.joueurVisites2">{{matchExtended.match.joueurVisites2.nom}} {{matchExtended.match.joueurVisites2.prenom}}<span *ngIf="getPointsCorpo(matchExtended,1,2)">&nbsp;<small>({{getPointsCorpo(matchExtended,1,2)}} points)</small></span></span>
                        <span *ngIf="!matchExtended.match.joueurVisites2"><em>Joueur à préciser</em></span>
                      </a>
                  </span>
                  <br />
                  <a class="joueur {{getEditableClass(matchExtended.match)}} {{getVisiteursClass(matchExtended.match)}}" (click)="selectionnerJoueur(matchExtended,2,1)">
                        <span *ngIf="matchExtended.match.joueurVisiteurs1">{{matchExtended.match.joueurVisiteurs1.nom}} {{matchExtended.match.joueurVisiteurs1.prenom}}<span *ngIf="getPointsCorpo(matchExtended,2,1)">&nbsp;<small>({{getPointsCorpo(matchExtended,2,1)}} points)</small></span></span>
                        <span *ngIf="!matchExtended.match.joueurVisiteurs1"><em>Joueur à préciser</em></span>
                  </a>
                  <span class="{{getVisiteursClass(matchExtended.match)}}" *ngIf="isDouble(matchExtended.match)">/</span>
                  <span *ngIf="isDouble(matchExtended.match)">
                      <a class="joueur {{getEditableClass(matchExtended.match)}} {{getVisiteursClass(matchExtended.match)}}" (click)="selectionnerJoueur(matchExtended,2,2)">
                        <span *ngIf="matchExtended.match.joueurVisiteurs2">{{matchExtended.match.joueurVisiteurs2.nom}} {{matchExtended.match.joueurVisiteurs2.prenom}}<span *ngIf="getPointsCorpo(matchExtended,2,2)">&nbsp;<small>({{getPointsCorpo(matchExtended,2,2)}} points)</small></span></span>
                        <span *ngIf="!matchExtended.match.joueurVisiteurs2"><em>Joueur à préciser</em></span>
                      </a>
                  </span>
              </td>
              <td>

                <div class="resultats {{getEditableClass(matchExtended.match)}} row" *ngIf="matchExtended.sets.length>0" (click)="ouvrirResultats(matchExtended);">
                    <div class="set" *ngFor="let set of matchExtended.sets">
                         <span class="{{getVisitesSetClass(set)}}">{{set.jeuxVisites}}</span>
                          <br />
                          <span class="{{getVisiteursSetClass(set)}}">{{set.jeuxVisiteurs}}</span>
                    </div>
                    <span *ngIf="matchExtended.match.setUnique">*</span>
                </div>

                <div class="resultats {{getEditableClass(matchExtended.match)}} row" *ngIf="matchExtended.sets.length==0" (click)="ouvrirResultats(matchExtended);">
                  <div style="margin-left:5px;margin-right:5px;"><i class="fa fa-braille fa-2x"></i></div>
                </div>

                  <!--<strong>5</strong>-->
                  <!--&nbsp;&nbsp;-->
                  <!--2-->
                  <!--<br />-->
                  <!--1-->
                  <!--&nbsp;&nbsp;-->
                  <!--<strong>4</strong>-->

              </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="row">

      <div class="col-12">
        <div [ngClass]="boxCommentsClass">
          <div class="myBoxTitle" (click)="ouvrirCommentaires();" >
            Commentaires sur la rencontre<span *ngIf="isResultatsRencontreModifiables && !rencontre.division.championnat.cloture" style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
          </div>
          <div class="myBoxContent">
            <div class="row">
              <div class="col-12" *ngIf="rencontre.commentairesEncodeur">
                {{rencontre.commentairesEncodeur}}
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>

    <div *ngIf="isForfaitPossible" class="row text-center">
      <div class="col-6">
        <button class="btn btn-sm btn-danger" (click)="forfait(false);"><i class="fa fa-power-off"></i>&nbsp;Forfait {{rencontre.equipeVisites.codeAlphabetique}}</button>
      </div>
      <div class="col-6">
        <button class="btn btn-sm btn-danger" (click)="forfait(true);"><i class="fa fa-power-off"></i>&nbsp;Forfait {{rencontre.equipeVisiteurs.codeAlphabetique}}</button>
      </div>
    </div>

  </div>

</div>
