.victorieux{
  font-weight:bold;
}

.joueur{
  margin:3px;
  cursor:default;
}

.joueur.modifiable:hover{
  background-color:lightblue;
  border-radius:3px;
  cursor:pointer;
}

.resultats{
  margin:3px;
}

.resultats.modifiable:hover{
  background-color:lightblue;
  border-radius:3px;
  cursor:pointer;
}

.set {
  margin-left:5px;
  margin-right:5px;
}

.pointsDepasses{
  font-weight:bold;
  color:red;
}

.workflowButtonDiv{
  margin:3px;
}

.autorisationBox{
    border:1px solid #ccc;
    border-radius:10px;
    margin:15px;
    padding:5px;
}

.autorisationBox .autorisationTitle{
    position:relative;
    top:-15px;
    left:30px;
    background-color:white;
}

.autorisationBox .autorisationMembreDiv{
  top: -10px;
  position: relative;
}
