.traceArea{
  width:100%;
  overflow-y: scroll;
}

.tracesDiv{
  margin:10px;
}

.finishedJob {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin:5px;
    background-color:lightgrey;
    cursor:pointer;
}

.deleteJobButton{
    background-color:lightgrey;
    border-radius:10px;
    cursor:pointer;
}
