<div class="row">
  <div class="tennisCorpoBox col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="card text-center" >
      <h4 class="card-header">
        Encodage des résultats
      </h4>
      <div class="card-body">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/0qi2hvA0F94" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="tennisCorpoBox col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="card text-center" >
      <h4 class="card-header">
        Validation d'une rencontre
      </h4>
      <div class="card-body">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/z8tHUy1mq78" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="tennisCorpoBox col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="card text-center" >
      <h4 class="card-header">
        Autorisations d'encodage
      </h4>
      <div class="card-body">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/YP6C9Ui7Fps" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="tennisCorpoBox col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="card text-center" >
      <h4 class="card-header">
        Egalité de jeux dans un set
      </h4>
      <div class="card-body">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/QE1FEsRsvsg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="tennisCorpoBox col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="card text-center" >
      <h4 class="card-header">
        Abandon durant un match
      </h4>
      <div class="card-body">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/7sfUfojz4Zc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="tennisCorpoBox col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="card text-center" >
      <h4 class="card-header">
        Equipe incomplète
      </h4>
      <div class="card-body">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/LBTT9RUuPgM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
