<h1 mat-dialog-title>{{typeDemande}} un membre de {{_club.nom}}<span style="float:right;"><button class="close" (click)="cancel();">&times;</button></span></h1>
<div mat-dialog-content style="min-width:300px;max-width:500px;">

  <div class="text-center" style="margin-bottom:10px;">
    <button *ngIf="!membre" class="btn btn-secondary" (click)="selectionMembre();">Sélectionner le membre à {{typeDemande|lowercase}}</button>
  </div>

  <div *ngIf="membre" class="membreDiv">
    <span style="float:right"><a style="cursor:pointer;" (click)="clearMembre();"><i class="fa fa-ban"></i></a></span>
    {{membre.nom}} {{membre.prenom}}
  </div>

  <div *ngIf="activationMembre && membre">
    Classement corpo pouvant être revu
  </div>

  <div *ngIf="!activationMembre && membre"><button class="btn btn-sm btn-link" style="cursor:pointer" (click)="ouvrirFicheMembre();">Lien vers la fiche du membre</button></div>

  <div *ngIf="activationMembre && membre" class="alert alert-info" role="alert">
    Une fois réactivé, vous pourrez mettre à jour les autres informations de ce membre
  </div>

  <div align="center">
    <button class="btn btn-danger" (click)="cancel();">Annuler</button>
    &nbsp;
    <button class="btn btn-success" (click)="save();">{{typeDemande}}</button>
  </div>

</div>
