<div class="row">
    <div #membreList class="tennisCorpoBox col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card text-center">
            <h4 class="card-header">
                Membres
            </h4>
            <div class="card-body text-center">
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <mat-form-field>
                          <input #searchBox matInput placeholder="Nom/Prénom" [(ngModel)]="filtreNomPrenom" (keyup)="filtre(searchBox.value)">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <form>
                        <mat-form-field>
                          <input matInput placeholder="Club" aria-label="Club" [matAutocomplete]="auto" [formControl]="clubCtrl" >
                          <mat-autocomplete classList="clubAutoComplete" #auto="matAutocomplete">
                              <mat-option *ngFor="let club of filteredClubs | async" [value]="club">
                                  <small>{{ club }}</small>
                              </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </form>
<!--                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="clubGroupSelect">Club</label>
                            </div>
                            <select class="custom-select" id="clubGroupSelect">
                                <option selected>Choisir...</option>
                                <option value="1">TC Wallonie</option>
                                <option value="2">UNAMUR</option>
                                <option value="3">IATA</option>
                            </select>
                        </div>-->
                    </div>
                </div>
                <div align="right">
                    <a data-toggle="collapse" href="#otherCriterias" role="button" aria-expanded="false" aria-controls="otherCriterias">Autres critères</a>
                </div>
                <div class="collapse" id="otherCriterias">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="classementGroupSelect">Classement</label>
                                    </div>
                                    <select class="custom-select" id="classementGroupSelect">
                                        <option selected>Choisir...</option>
                                        <option value="1">C30-4</option>
                                        <option value="2">C30-2</option>
                                        <option value="3">C30</option>
                                        <option value="4">C15-4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">Actif</label>
                                    </div>
                                    <div>
                                        &nbsp;
                                        &nbsp;
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Oui</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Non</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
                                        <label class="form-check-label" for="inlineRadio3">Sans importance</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-primary" style="margin-bottom:10px;">Vider filtre</button>
                <div *ngIf="media.is.md.or.sm.or.xs | async" style="height:300px;overflow-y:auto;">
                  <div *ngFor="let membre of filteredMembers" (click)="ouvrirMembre(membre);" class="myBox text-left" style="cursor:pointer;">
                    <div class="myBoxTitle">
                      <i class="fa fa-user"></i>&nbsp;<span class="text-uppercase"><strong>{{membre.nom}}</strong></span>&nbsp;{{membre.prenom}}
                    </div>
                    <div class="myBoxContent">
                      <small>C30-4 / 5 points<span style="float:right;"><em>UNAMUR</em></span></small>
                    </div>
                  </div>
                </div>
                <div *ngIf="media.is.lg.or.xl | async">

                  <div class="table-responsive" style="height:300px;">
                      <table class="membreTable table table-sm table-hover" matSort (matSortChange)="sortData($event)">
                          <!--table-striped-->
                          <thead class="bg-info" >
                              <tr>
                                  <th scope="col" mat-sort-header="nom">Nom</th>
                                  <th scope="col" mat-sort-header="prenom">Prénom</th>
                                  <!--<th scope="col" mat-sort-header="dateNaissance">Date de naissance</th>-->
                                  <th scope="col">Club</th>
                                  <th scope="col">Classement AFT</th>
                                  <th scope="col">Points Corpo</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let membre of filteredMembers" (click)="ouvrirMembre(membre);" class="text-left">
                                  <td class="text-uppercase">{{membre.nom}}</td>
                                  <td>{{membre.prenom}}</td>
                                  <!--<td>{{membre.dateNaissance| date:'dd/MM/yyyy'}}</td>-->
                                  <td>UNAMUR</td>
                                  <td>C30-2</td>
                                  <td>20</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>

                </div>
                <div align="right" style="margin-top:10px;">
                    <button class="btn btn-secondary" (click)="nouveauMembre();" ><i class="fa fa-plus-circle"></i>&nbsp;Nouveau membre</button>
                </div>
            </div>
        </div>
    </div>

    <div #membreDetail class="col-sm-12 col-md-12 col-lg-6 col-xl-6" >
        <app-membre-detail *ngIf="selectedMember" [membre]="selectedMember" [master]="componentName" (childResult)="childResult($event)" ></app-membre-detail>
    </div>

</div>
