<div class="row">
    <div #membreList class="tennisCorpoBox col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card text-center">
            <h4 class="card-header">
                Membres
            </h4>
            <div class="card-body text-center">
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <mat-form-field>
                          <input #searchBox matInput placeholder="Nom/Prénom/AFT" [(ngModel)]="filtreNomPrenom" (keyup)="filtre()">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <mat-form-field>
                          <mat-select #clubSelect placeholder="Clubs" [(ngModel)]="filtreSelectedClubs" multiple (selectionChange)="filtre()">
                              <mat-option *ngFor="let club of clubs" [value]="club">
                                  <small>{{ club.nom }}</small>
                              </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div align="right">
                    <i *ngIf="isOtherCriterias();" class="fa fa-exclamation-circle" style="color:red"></i>&nbsp;<a data-toggle="collapse" href="#otherCriterias" role="button" aria-expanded="false" aria-controls="otherCriterias">Autres critères</a>
                </div>
                <div class="collapse" id="otherCriterias">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field>
                                    <mat-select placeholder="Genre" [(ngModel)]="filtreSelectedGenre" (selectionChange)="filtre();">
                                        <mat-option>-</mat-option>
                                        <mat-option *ngFor="let genre of genres" [value]="genre">
                                            <small>{{ genre.libelle }}</small>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field>
                                    <mat-select placeholder="Activité" [(ngModel)]="filtreActivite" (selectionChange)="filtre();">
                                        <mat-option>-</mat-option>
                                        <mat-option value="true" ><small>Actif</small></mat-option>
                                        <mat-option value="false" ><small>Inactif</small></mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field>
                                  <input  matInput placeholder="Numéro club AFT" [(ngModel)]="filtreNumeroClubAFT" (keyup)="filtre()" >
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field>
                                    <mat-select placeholder="Points Corpo" [(ngModel)]="filtreEchellecorpo" (selectionChange)="filtre()">
                                        <mat-option>-</mat-option>
                                        <mat-option *ngFor="let echelleCorpo of echellesCorpo" [value]="echelleCorpo.points">
                                            <small>{{ echelleCorpo.points }} points</small>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                </div>
                
                <div *ngIf="chargementMembres" class="progressDiv text-center">
                  <mat-spinner diameter=50 style="margin:auto"></mat-spinner>
                  Récupération des membres
                </div>

                <div *ngIf="!chargementMembres" class="text-left">
                  <small><span>Après filtre : {{filteredMembers.length}} membres</span></small>
                </div>

                <div *responsive="{bootstrap: ['sm','xs'] }" style="height:300px;overflow-y:auto;">
                  <div *ngFor="let membre of filteredMembers" (click)="ouvrirMembreOnMobile(membre);" class="myBox text-left" style="cursor:pointer;">
                    <div class="myBoxTitle {{styleMembre(membre)}}">
                      <i class="fa fa-user"></i>&nbsp;<span class="text-uppercase"><strong>{{membre.nom}}</strong></span>&nbsp;{{membre.prenom}}
                    </div>
                    <div class="myBoxContent">
                      <small>AFT : <span *ngIf="membre.classementAFTActuel">{{membre.classementAFTActuel.codeClassement}}</span> / Corpo : <span *ngIf="membre.classementCorpoActuel">{{membre.classementCorpoActuel.points}} points</span><span style="float:right;"><span *ngIf="membre.club"><em>{{membre.club.nom}}</em></span></span></small>
                    </div>
                  </div>
                </div>
                
                <div *responsive="{bootstrap: ['md','lg','xl'] }">

                  <div class="table-responsive" style="height:300px;">
                      <table *ngIf="!chargementMembres" class="membreTable table table-sm table-hover" matSort (matSortChange)="sortData($event)">
                          <!--table-striped-->
                          <thead class="bg-info" >
                              <tr>
                                  <th scope="col" mat-sort-header="nom">Nom</th>
                                  <th scope="col" mat-sort-header="prenom">Prénom</th>
                                  <!--<th scope="col" mat-sort-header="dateNaissance">Date de naissance</th>-->
                                  <th scope="col" class="text-left">Club</th>
                                  <th scope="col" class="text-left">Classement AFT</th>
                                  <th scope="col" class="text-left" mat-sort-header="pointsCorpo">Points Corpo</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let membre of filteredMembers" (click)="ouvrirMembre(membre);" class="text-left">
                                  <td class="text-uppercase {{styleMembre(membre)}}" >{{membre.nom}}</td>
                                  <td class="{{styleMembre(membre)}}" >{{membre.prenom}}</td>
                                  <!--<td>{{membre.dateNaissance| date:'dd/MM/yyyy'}}</td>-->
                                  <td class="{{styleMembre(membre)}}"><span *ngIf="membre.club">{{membre.club.nom}}</span></td>
                                  <td class="{{styleMembre(membre)}}"><span *ngIf="membre.classementAFTActuel">{{membre.classementAFTActuel.codeClassement}}</span></td>
                                  <td class="{{styleMembre(membre)}}"><span *ngIf="membre.classementCorpoActuel">{{membre.classementCorpoActuel.points}}</span></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>

                </div>
                <div *ngIf="isAdminConnected()" class="row" style="margin-top:10px;">
                    <div class="col-6 text-left">
                        <button class="btn btn-sm btn-info" (click)="importer();" >Importer</button>
                    </div>
                    <div class="col-6 text-right">
                      <button class="btn btn-sm btn-secondary" (click)="nouveauMembre();" ><i class="fa fa-plus-circle"></i>&nbsp;Nouveau membre</button>
                    </div>
                </div>
                <div *ngIf="isResponsableClubConnected()" class="row" style="margin-top:10px;">
                  <div class="col-6 text-left">
                    <button class="btn btn-info btn-sm" (click)="exportMembresByResponsableClub();" >Exporter ma corporation</button>
                    &nbsp;
                    <div *ngIf="preparationExportMembres">
                      <small>Préparation du fichier en cours...</small>
                    </div>
                  </div>
                  <div *ngIf="true" class="col-6 text-right">
                    <button class="btn btn-secondary btn-sm" (click)="nouvelleDemande();" ><i class="fa fa-plus-circle"></i>&nbsp;Introduire une demande</button>
                  </div>
                </div>
            </div>
        </div>


    </div>

    <div #membreDetail class="col-sm-12 col-md-12 col-lg-6 col-xl-6" >
        <app-membre-detail *ngIf="selectedMember" [membre]="selectedMember" [master]="componentName" (deleteMembre)="deleteMembre($event)" ></app-membre-detail>
    </div>

</div>
