<div class="row">
  <div #clubList class="tennisCorpoBox col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card text-center">
      <h4 class="card-header">
        Clubs
      </h4>
      <div class="card-body text-center">

        <div *responsive="{bootstrap: ['sm','xs'] }" style="height:300px;overflow-y:auto;">
          <div *ngFor="let club of sortedClubs" (click)="ouvrirClub(club);" class="myBox text-left" style="cursor:pointer;">
            <div class="myBoxTitle {{styleClub(club)}}">
              <span class="text-uppercase">{{club.numero}} - {{club.nom}}</span>
            </div>
            <div class="myBoxContent">
              <span *ngIf="club.description">{{club.description}}<br/></span>
              <span *ngIf="club.numeroTVA">{{club.numeroTVA}}<br/></span>
              <span *ngIf="club.adresse">{{club.adresse}}</span>
            </div>
          </div>
        </div>

        <div *responsive="{bootstrap: ['md','lg','xl'] }" class="text-left">

          <div class="table-responsive" style="height:300px;">
            <table class="clubTable table table-sm table-hover" matSort (matSortChange)="sortData($event)">
              <!--table-striped-->
              <thead class="bg-info" >
              <tr>
                <th scope="col" mat-sort-header="numero">Numéro</th>
                <th scope="col" mat-sort-header="nom">Nom</th>
                <th scope="col" >Numéro TVA</th>
                <th scope="col" >Adresse</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let club of sortedClubs" (click)="ouvrirClub(club);" class="text-left">
                <td class="{{styleClub(club)}}">{{club.numero}}</td>
                <td class="{{styleClub(club)}} text-uppercase">{{club.nom}}</td>
                <td class="{{styleClub(club)}}">{{club.numeroTVA}}</td>
                <td class="{{styleClub(club)}}">{{club.adresse}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div align="right" style="margin-top:10px;">
          <button class="btn btn-secondary" (click)="nouveauClub();" ><i class="fa fa-plus-circle"></i>&nbsp;Nouveau club</button>
        </div>
      </div>
    </div>
  </div>

  <div #clubDetail class="col-sm-12 col-md-12 col-lg-6 col-xl-6" >
    <app-club-detail *ngIf="selectedClub" [club]="selectedClub" [master]="componentName" (deleteClub)="deleteClub($event)" ></app-club-detail>
  </div>

</div>
