<div style="background-color:white;">
    
    <mat-tab-group (selectedTabChange)="tabChanged($event);">
        <mat-tab label="Championnats/Divisions">
            <div style="padding:10px;">
                <app-championnat-divisions></app-championnat-divisions>
            </div>
        </mat-tab>
        <mat-tab label="Equipes">
            <div style="padding:10px;">
                <app-championnat-equipes></app-championnat-equipes>
            </div>
        </mat-tab>
        <mat-tab label="Capitaines/Terrains">
            <div style="padding:10px;">
                Choix des capitaines et terrains des equipes
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
