<div style="background-color:white;">

    <mat-tab-group (selectedTabChange)="tabChanged($event);" selectedIndex="{{selectedIndex}}">
        <mat-tab label="Championnats/Divisions">
            <div style="padding:10px;">
                <app-championnat-divisions (selectChampionnat)="selectChampionnat($event)"></app-championnat-divisions>
            </div>
        </mat-tab>
        <mat-tab label="Equipes">
            <div style="padding:10px;">
                <app-championnat-equipes (selectChampionnat)="selectChampionnat($event)"></app-championnat-equipes>
            </div>
        </mat-tab>
        <mat-tab label="Poules">
            <div style="padding:10px;">
                <app-championnat-poules (selectChampionnat)="selectChampionnat($event)"></app-championnat-poules>
            </div>
        </mat-tab>
        <mat-tab label="Calendrier">
            <div style="padding:10px;">
                <app-championnat-rencontres (selectChampionnat)="selectChampionnat($event)"></app-championnat-rencontres>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
