<!--<input type="file" (change)="onChange($event)" multiple>
<button class="btn btn-primary" (click)="loadFile();">Charger fichier</button>-->

<div style="margin-top:10px;margin-bottom:10px;">

    <div class="row">
        <div class="col-6">

            <mat-select placeholder="Championnat" [(ngModel)]="selectedChampionnat" [formControl]="championnatCtrl" (selectionChange)="loadTeams();" >
                <mat-option *ngFor="let championnat of championnats" [value]="championnat">

                    <span>
                        <i class="{{getTrophyClass(championnat)}}"></i>
                        <i class="{{getTypeClass(championnat)}}" ></i>
                    </span>

                    <small>

                        {{getTypeChampionnat(championnat).libelle}}
                        {{championnat.annee}}
                        {{getCategorieChampionnat(championnat).libelle}}

                    </small>
                </mat-option>
            </mat-select>
        </div>

        <div class="col-6 text-right">

            <button class="btn btn-primary btn-sm" (click)="selectionClubs()" >Sélection des clubs</button>

        </div>
    </div>
</div>

<div *ngIf="selectedChampionnat" class="text-white text-center championshipHeader {{getChampionshipHeader(selectedChampionnat)}}" >
    <i class="fa fa-trophy"></i>
    {{getTypeChampionnat(selectedChampionnat).libelle}} {{selectedChampionnat.annee}}
    <i class="{{getTypeIcon(selectedChampionnat)}}"></i>
    - {{getCategorieChampionnat(selectedChampionnat).libelle}} - {{getNbEquipesInChampionship()}} équipes inscrites
</div>


<div *ngFor="let division of divisions" class="tennisCorpoBox col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 10px">
    <div class="card">
        <h6 class="card-header">
            Division {{division.numero}} (max {{division.pointsMaximum}} points) - {{getNbPoulesInDivision(division)}} poule(s) - {{getNbEquipesByDivision(division)}} équipe(s) inscrite(s)
<!--            <span style="float:right;">


                &nbsp;
                <button class="btn btn-primary-outline"><i class="fa fa-minus"></i></button>
                <a (click)="removeOnePoule(division);"><i class="fa fa-minus" style="cursor:pointer"></i></a>

                &nbsp;

                <a (click)="addOnePoule(division);"><i class="fa fa-plus" style="cursor:pointer"></i></a>
            </span>-->
        </h6>
        <div class="card-body">
            <div class="row">
                <div *ngFor="let augmentedClub of augmentedClubs">
                    <div *ngIf="displayTeam(augmentedClub,division)" style="width:200px;background-color:lightblue;border-radius:15px;padding-top:10px;padding-bottom:20px;padding-left:20px;padding-right:20px;margin:5px;">
                        <div class="text-right" style="float:right;padding-top:15px;" >
                            <span style="font-size:3em;">
                                <strong>{{getNbEquipesByClubAndDivision(augmentedClub.club,division)}}</strong>
                            </span>
                        </div>
                        <div>
                            <strong>{{augmentedClub.club.nom}}</strong><br/>{{getNbEquipesByClub(augmentedClub.club)}} équipe(s)
                        </div>
                        <span *ngIf="!selectedChampionnat.calendrierValide && augmentedClub.selected" style="float:left;padding-top:5px;">
                            <button class="btn btn-danger btn-sm" style="border-radius: 15px;" (click)="removeOneTeam(augmentedClub.club,division);"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-success btn-sm" style="border-radius: 15px;" (click)="addOneTeam(augmentedClub.club,division);"><i class="fa fa-plus"></i></button>
                        </span>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
