<!--<input type="file" (change)="onChange($event)" multiple>
<button class="btn btn-primary" (click)="loadFile();">Charger fichier</button>-->

<div style="margin-bottom:10px">
    <button class="btn btn-primary" (click)="selectionClubs()" >Sélection des clubs</button>
</div>


<!--<div class="row">
    <div *ngFor="let club of clubs" class="col-1" >
        <mat-slide-toggle labelPosition="before" color="primary">
            {{club}}
          </mat-slide-toggle>
    </div>
</div>-->

<mat-accordion multi="true">
  <mat-expansion-panel expanded >
    <mat-expansion-panel-header style="background-color:steelblue">
      <mat-panel-title>
        Messieurs - 15 équipes inscrites
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="tennisCorpoBox col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 10px">
        <div class="card">
            <h6 class="card-header">
                Division 1 (max 400 points) - 4 équipes inscrites 
                <span style="float:right;">
                1 poule
                &nbsp;
                <!--<button class="btn btn-primary-outline"><i class="fa fa-minus"></i></button>-->
                <a><i class="fa fa-plus" style="cursor:pointer"></i></a>
                </span>
            </h6>
            <div class="card-body">
                <div class="row">
                    <div  *ngFor="let club of clubs">
                        <div *ngIf="displayTeam(club)" style="width:200px;background-color:lightblue;border-radius:15px;padding-top:10px;padding-bottom:20px;padding-left:20px;padding-right:20px;margin:5px;">
                            <div style="margin-bottom:5px;">
                                <strong>{{club.nom}}</strong><br/>(7 équipes)
                            </div>
                            <span *ngIf="club.selected" style="float:left;">
                                <button class="btn btn-danger btn-sm" style="border-radius: 15px;" (click)="removeOneTeam(club);"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-success btn-sm" style="border-radius: 15px;" (click)="addOneTeam(club);"><i class="fa fa-plus"></i></button>
                            </span>
                            &nbsp;
                            <span style="float:right;font-size:3em;"><strong>{{club.equipe}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color:pink">
      <mat-panel-title>
        Dames - 12 équipes inscrites
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="tennisCorpoBox col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 10px">
        <div class="card">
            <h6 class="card-header">
                Division 1 (max 600 points)
                <span style="float:right;">
                2 poules
                &nbsp;
                <button class="btn btn-primary-outline"><i class="fa fa-minus"></i></button>
                <button class="btn btn-primary-outline"><i class="fa fa-plus"></i></button>
                </span>
            </h6> 
            <div class="card-body col-12">
                <div class="row">
                    <div *ngFor="let club of clubs" class="col-xl-2 col-lg-4 col-md-6 col-sm-12" style="background-color:pink;border-radius:15px;padding:10px;">
                        <div class="col-12">
                            <strong>{{club}}</strong>
                        </div>
                        <div class="col-12">
                            (2 équipes)
                            <span style="float:right;">
                                <button class="btn btn-danger btn-sm" style="border-radius: 15px;"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-success btn-sm" style="border-radius: 15px;"><i class="fa fa-plus"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background:linear-gradient(90deg,pink, steelblue);">
      <mat-panel-title>
        Mixte
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>