.pouleBox{
    border-color:lightblue;
    border-style:solid;
    border-radius:15px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom: 10px;
}

.teamBox {
    width:250px;
    background-color:lightblue;
    border-radius:15px;
    padding-top:10px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    margin:5px;
}

.teamBoxEditable {
    border-radius:5px;
    padding:5px;
}

.teamBoxEditable:hover {
    border-radius:5px;
    padding:5px;
    background-color:steelblue;
    cursor:pointer;
    color:white;
}

.deletePouleButton{
    cursor:pointer;
}
