
<div style="margin-top:10px;margin-bottom:10px;">

    <div class="row">
        <div class="col-12">

            <mat-select placeholder="Championnat" [(ngModel)]="selectedChampionnat" [formControl]="championnatCtrl" (selectionChange)="loadTeams();" >
                <mat-option *ngFor="let championnat of championnats" [value]="championnat">

                    <span>
                        <i class="{{getTrophyClass(championnat)}}"></i>
                        <i class="{{getTypeClass(championnat)}}" ></i>
                    </span>

                    <small>

                        {{getTypeChampionnat(championnat).libelle}}
                        {{championnat.annee}}
                        {{getCategorieChampionnat(championnat).libelle}}

                    </small>
                </mat-option>
            </mat-select>
        </div>

    </div>
</div>

<div *ngIf="selectedChampionnat" class="text-white text-center championshipHeader {{getChampionshipHeader(selectedChampionnat)}}" >
    <i class="fa fa-trophy"></i>
    {{getTypeChampionnat(selectedChampionnat).libelle}} {{selectedChampionnat.annee}}
    <i class="{{getTypeIcon(selectedChampionnat)}}"></i>
    - {{getCategorieChampionnat(selectedChampionnat).libelle}} - {{getNbEquipesInChampionship()}} équipes inscrites
</div>



<div *ngFor="let division of divisions" class="tennisCorpoBox col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 10px">
    <div class="card">
        <h6 class="card-header">
            Division {{division.numero}} (max {{division.pointsMaximum}} points) - {{getNbPoulesInDivision(division)}} poule(s) - {{getNbEquipesByDivision(division)}} équipe(s) inscrite(s)
        </h6>
        <div class="card-body">
            <div class="row">

                <div *ngFor="let poule of getPoulesByDivision(division)" class="col-12" >

                    <div class="row">
                        <div class="pouleBox col-12">
                            <strong>Division {{division.numero}} - Poule {{poule.numero}} - {{getNbEquipesByPoule(poule)}} équipe(s)</strong>
                            <span *ngIf="!selectedChampionnat.calendrierValide && getNbEquipesByPoule(poule)==0" style="float:right">
                                <a (click)="removePoule(poule);" class="deletePouleButton"><i class="fa fa-trash" ></i></a>
                            </span>
                            <span style="float:right">
                                <a style="cursor:pointer" (click)="changeTypeCalendrierPoule(poule)">
                                    <span *ngIf="!poule.allerRetour">Aller simple</span>
                                    <span *ngIf="poule.allerRetour">Aller/Retour</span>
                                </a>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div *ngFor="let equipe of getEquipesByPoule(poule)">

                            <div class="teamBox" >
                                <div style="float:right">

                                </div>
                                <div>
                                    <strong>{{equipe.codeAlphabetique}}</strong><br/>
                                    <div class="teamBoxEditable" (click)="ouvrirCapitaineEquipe(equipe);">
                                        <small>Capitaine : <span *ngIf="equipe.capitaine">{{equipe.capitaine.nom}} {{equipe.capitaine.prenom.substring(0,1)}}.</span>&nbsp;&nbsp;<i class="fa fa-pencil"></i></small>
                                    </div>
                                    <div class="teamBoxEditable" (click)="ouvrirTerrainEquipe(equipe);" >
                                      <small>Terrain : <span *ngIf="equipe.terrain">{{equipe.terrain.nom}}</span>&nbsp;&nbsp;<i class="fa fa-pencil"></i></small>
                                    </div>
                                    <div *ngIf="!selectedChampionnat.calendrierValide && getNbPoulesInDivision(division)>1" class="text-center" style="margin-top:5px">
                                        <button class="btn btn-sm btn-primary" (click)="changePoule(equipe);">Changer poule</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div *ngIf="!selectedChampionnat.calendrierValide" class="col-12 text-right">
                    <button class="btn btn-sm btn-success" (click)="addOnePoule(division);">
                        <i class="fa fa-plus"></i>&nbsp;Ajouter une poule
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
