<div class="card tennisCorpoBox">
  <div class="card-header">
    <h4>Equipe {{equipe.codeAlphabetique}}
      <span *ngIf="deletable" style="float:right">
        <a (click)="supprimerEquipe();" class="deleteEquipeButton"><i class="fa fa-trash" ></i></a>
    </span>
    </h4>
  </div>
  <div class="card-body text-left">
    <div class="row">
      <div class="col-4">
        <div class="text-center">
          <i [ngClass]="teamImageClass" ></i>
        </div>
      </div>
      <div class="col-8 text-left">

        <div [ngClass]="boxClassDivision" >
          <div class="myBoxTitle" (click)="changeDivision();">
            Catégorie<span *ngIf="deletable" style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
          </div>
          <div class="myBoxContent">
              <div>
                Division {{equipe.division.numero}} - Poule {{equipe.poule.numero}}
              </div>
              <div *ngIf="equipe.hybride">
                <em>Equipe hybride</em>
              </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
        <div class="col-12">
          <div class="myBox">
            <div class="myBoxTitle" >
              Capitaine
            </div>
            <div class="myBoxContent">
              <div *ngIf="!isCriterium() && !equipe.capitaine" class="alert alert-danger">
                <small>
                  Veuillez préciser un capitaine
                </small>
              </div>
              <a class="capitaineLink" (click)="selectCapitaine();">
                <span *ngIf="equipe.capitaine">{{equipe.capitaine.prenom}} {{equipe.capitaine.nom}}</span>
                <span *ngIf="!equipe.capitaine"><em>Aucun capitaine précisé</em></span>
              </a>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="myBox">
          <div class="myBoxTitle" >
            Terrain à domicile
          </div>
          <div class="myBoxContent">
            <a class="terrainLink" (click)="selectTerrain();">
              <span *ngIf="equipe.terrain">{{equipe.terrain.nom}}</span>
              <span *ngIf="!equipe.terrain"><em>Aucun terrain précisé</em></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="myBox myBoxEditable" >
          <div class="myBoxTitle" (click)="ouvrirCompositionEquipe();">
            Composition<span style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
          </div>
          <div class="myBoxContent">
            <div *ngIf="isCriterium() && equipeExtended.membresEquipe.length==0" class="alert alert-danger">
              <small>
                Veuillez préciser une composition
              </small>
            </div>
            <div *ngFor="let membre of equipeExtended.membresEquipe">
              <small>
                {{membre.nom}} {{membre.prenom.substring(0,1)}}.
                &nbsp;
                <span *ngIf="membre.classementAFTActuel"><strong>AFT :</strong> {{membre.classementAFTActuel.codeClassement}} - {{membre.classementAFTActuel.points}} points</span>
                &nbsp;
                <span *ngIf="membre.classementCorpoActuel"><strong>Corpo :</strong> {{membre.classementCorpoActuel.points}} points</span>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div [ngClass]="boxClassCommentaires" >
          <div class="myBoxTitle" (click)="ouvrirCommentairesEquipe();">
            Commentaires inscription<span *ngIf="deletable || isAdminConnected()" style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
          </div>
          <div class="myBoxContent">
              <small>
                {{equipe.commentaires}}
              </small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
