.maleTeam{
    color:cornflowerblue;
}

.femaleTeam{
    color:pink;
}

.undefinedTeam{
    color:lightgrey;
}

.deleteEquipeButton{
    cursor:pointer;
}

.capitaineLink{
  cursor:pointer;
}

.capitaineLink:hover{
  cursor:pointer;
  background-color:lightblue;
}

.terrainLink{
  cursor:pointer;
}

.terrainLink:hover{
  cursor:pointer;
  background-color:lightblue;
}
