<div class="card tennisCorpoBox">
  <!--<h4 class="card-header">-->
    <!--Classement-->
  <!--</h4>-->
  <div class="card-body">

    <div class="row">

      <div class="col-2">
        <div style="text-align:right;margin-top:25px;">
          <i class="fa fa-trophy fa-4x" style="color:darkgoldenrod"></i>
        </div>
      </div>

      <div class="col-10">
        <div class="myBox">
          <div class="myBoxTitle" >
            Classement
          </div>
          <div class="myBoxContent">
            Division {{classement.poule.division.numero}} - Poule {{classement.poule.numero}}
          </div>
        </div>
      </div>
    </div>

    <div class="row" align="center">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped table-sm" >
            <thead class="bg-info">
            <tr>
              <!--<th scope="col"></th>-->
              <th scope="col">Equipe</th>
              <th scope="col">Joués</th>
              <th scope="col">Points</th>
              <th scope="col">Sets G/P</th>
              <th scope="col">Jeux G/P</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let classementEquipe of classement.classementEquipes; let i = index;" class="{{getClassForEquipe(i)}}">
              <!--<td>#{{i+1}}</td>-->
              <td><a style="cursor:pointer" (click)="showRencontres(null);"><u>{{classementEquipe.equipe.codeAlphabetique}}</u></a></td>
              <td>{{classementEquipe.matchsJoues}}</td>
              <td>{{classementEquipe.points}}</td>
              <td>{{classementEquipe.setsGagnes}}/{{classementEquipe.setsPerdus}}</td>
              <td>{{classementEquipe.jeuxGagnes}}/{{classementEquipe.jeuxPerdus}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
