<h1 mat-dialog-title>Classements<span style="float:right;"><button class="close" (click)="cancel();">&times;</button></span></h1>
<div mat-dialog-content >

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <mat-form-field>
              <input matInput required placeholder="Numéro AFT" [(ngModel)]="_numAft">
            </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            Club AFT : Géronsart
        </div>
    </div>

    <div class="classementDiv">
        <span style="padding-left:5px;"><strong>Classements Corpo</strong>&nbsp;
           <a style="cursor:pointer;" (click)="addClassementCorpo()"><i class="fa fa-plus"></i></a>
           </span>

    <div class="table-responsive" style="height:80px;" >
      <table class="table table-sm table-hover" >
        <!--table-striped-->
        <tbody>
        <tr *ngFor="let classementCorpo of classementsCorpo">
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="classementCorpo.dateClassement" (dateChange)="sortClassementsCorpo();">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-select placeholder="Points" [(ngModel)]="classementCorpo.points" >
                <mat-option *ngFor="let echelleCorpo of echellesCorpo" [value]="echelleCorpo.points">
                  <small>{{ echelleCorpo.points }}</small>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>

    <div class="classementDiv">
        <span style="padding-left:5px;"><strong>Classements AFT</strong>&nbsp;
           <a style="cursor:pointer;" (click)="addClassementAFT()"><i class="fa fa-plus"></i></a>
           </span>
        
  <span style="float:right;"> 
      <a (click)="addOfficialAFT()" style="cursor:pointer;"><img src="/assets/images/logo.png" height="30px"/></a>
  </span>
    
    
  <div class="table-responsive" style="height:80px;">
    <table class="table table-sm table-hover" >
      <!--table-striped-->
      <tbody>
      <tr *ngFor="let classementAFT of classementsAFT">
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="classementAFT.dateClassement" (dateChange)="sortClassementsAFT();">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-select placeholder="Classement" [(ngModel)]="classementAFT.codeClassement" >
              <mat-option *ngFor="let echelleAFT of echellesAFT" [value]="echelleAFT.code">
                <small>{{ echelleAFT.code }} - {{ echelleAFT.points }} points</small>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

  <div align="center">
    <button class="btn btn-danger" (click)="cancel();">Annuler</button>
    <button class="btn btn-success" (click)="save();">Sauver</button>
  </div>

</div>
