<div class="card tennisCorpoBox">
  <h4 class="card-header">
    Membre
  </h4>
  <div class="card-body">

    <div class="row">

      <div class="col-2">
        <div style="text-align:right;">
          <i [ngClass]="userImageClass"></i>
        </div>
      </div>

      <div class="col-10">
        <div class="myBox myBoxEditable">
          <div class="myBoxTitle" (click)="ouvrirInfosGenerales();">
            Informations générales<span style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
          </div>
          <div class="myBoxContent">
            <span><strong>{{membre.nom|uppercase}}</strong>&nbsp;</span><span>{{membre.prenom}}</span>
            <span>{{membre.dateNaissance| date:'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
    </div>
      
    <div class="row">

      <div class="col-12">
        <div class="myBox myBoxEditable">
          <div class="myBoxTitle" (click)="ouvrirClub();">
            Club<span style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
          </div>
          <div class="myBoxContent">
              <span *ngIf="membre.club">{{membre.club.nom}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-12">
        <div class="myBox myBoxEditable">
          <div class="myBoxTitle" (click)="ouvrirCoordonnees();">
            Coordonnées<span style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
          </div>
          <div class="myBoxContent">
              <span>Rue de Saint Hubert</span>
              <span>508B</span>
              <span>5300</span>
              <span>VEZIN</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-12">
        <div class="myBox myBoxEditable">
          <div class="myBoxTitle" (click)="ouvrirContacts();">
            Contacts<span style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
          </div>
          <div class="myBoxContent">
            <a href="mailto:fabrice.calay@gmail.com">fabrice.calay@gmail.com</a>
            <br />
            <a href="tel:0494899464">0494/89.94.64</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <!--                <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Nom</span>
                          </div>
                          <input class="form-control" type="text" [(ngModel)]="membre.nom" />
                      </div>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Prénom</span>
                          </div>
                          <input class="form-control" type="text" [(ngModel)]="membre.prenom" disabled />
                      </div>-->
      <div class="col-12" align="center">
        <button class="btn btn-sm btn-primary" (click)="ouvrirHistoriqueClassement()">Historique classement</button>
      </div>

  </div>

  <!--    <div align="center">
          <button class="btn btn-danger" (click)="goBack()">Annuler</button>
          <button class="btn btn-success" (click)="save()">Sauvegarder</button>
      </div>-->
</div>

</div>
