<h1 mat-dialog-title>Simulation nouveau classement<span style="float:right;"><button class="close" (click)="cancel();">&times;</button></span></h1>
<div mat-dialog-content >

  <div class="col-12">
    <div class="alert alert-info" role="alert">
      Assurez-vous que les classements Corpo soient bien enregistrés avant d'effectuer une simulation
    </div>
  </div>

  <div *ngIf="showAlert" class="col-12">
    <div class="alert alert-danger" role="alert">
      Veuillez indiquer des dates valides
    </div>
  </div>

  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="Date de début" [(ngModel)]="startDate" >
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="Date de fin" [(ngModel)]="endDate" >
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #endPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="text-center" style="margin-bottom:10px;">
    <button class="btn btn-info" (click)="simuler();" >Simulation</button>
  </div>


  <div *ngIf="simulationInProgress" class="text-center">
    <mat-spinner diameter=50 style="margin:auto"></mat-spinner>
    Simulation en cours...
  </div>

  <div *ngIf="!simulationInProgress">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div *ngIf="nouveauxPoints" style="margin-top:10px;margin-bottom:10px;">
        Classement au {{startDate| date:'dd/MM/yyyy'}} : {{anciensPoints}} points<br/>
        Classement au {{endDate| date:'dd/MM/yyyy'}} : <strong>{{nouveauxPoints}} points</strong>
        <button class="btn btn-sm btn-info" style="border-radius:15px;" (click)="showOrHideDetails();"><i class="fa fa-info"></i></button>
      </div>
      <div>
        <small *ngIf="showDetails">
          <div class="text-right">
            <strong>Points totaux obtenus : {{getTotalPoints()}} points</strong>
          </div>
          <div *ngFor="let caracteristiqueMatch of caracteristiquesMatchs">
            <div class="row">
              <div class="col-12">
                {{caracteristiqueMatch.match.rencontre.dateHeureRencontre | date:'dd/MM/yyyy'}}  :
                {{caracteristiqueMatch.match.rencontre.equipeVisites.codeAlphabetique}} -
                {{caracteristiqueMatch.match.rencontre.equipeVisiteurs.codeAlphabetique}}
              </div>
              <div class="col-12">
                {{getTypeMatch(caracteristiqueMatch.match)}}
                <span *ngIf="caracteristiqueMatch.match.type=='DOUBLE'">
                avec {{caracteristiqueMatch.partenaire.prenom}}&nbsp;{{caracteristiqueMatch.partenaire.nom}}
                ({{caracteristiqueMatch.pointsPartenaire}})
              </span>
                <span>
                contre {{caracteristiqueMatch.adversaire.prenom}}&nbsp;{{caracteristiqueMatch.adversaire.nom}}
                ({{caracteristiqueMatch.pointsAdversaire}})
              </span>
                <span *ngIf="caracteristiqueMatch.match.type=='DOUBLE'">
                et {{caracteristiqueMatch.partenaireAdversaire.prenom}}&nbsp;{{caracteristiqueMatch.partenaireAdversaire.nom}}
                ({{caracteristiqueMatch.pointsPartenaireAdversaire}})
              </span>
              </div>
              <div class="col-12">
                <span *ngIf="caracteristiqueMatch.differencePoints<0"><em>{{0-caracteristiqueMatch.differencePoints}} points en plus que l'adversaire</em></span>
                <span *ngIf="caracteristiqueMatch.differencePoints==0"><em>Points identiques à l'adversaire</em></span>
                <span *ngIf="caracteristiqueMatch.differencePoints>0"><em>{{caracteristiqueMatch.differencePoints}} points en moins que l'adversaire</em></span>
              </div>
              <div class="col-12 text-right">
                {{getResultat(caracteristiqueMatch.resultatMatch)}}
                <i class="fa fa-arrow-right"></i>
                {{caracteristiqueMatch.pointsGagnesOuPerdus}} points
              </div>
            </div>
          </div>
        </small>
      </div>
    </div>
    <div *ngIf="showDetails" class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <small>
        <strong>Table des points :</strong>
        <ul>
          <li><i class="fa fa-user"></i> < -20 points <i class="fa fa-arrow-right"></i> -5 points</li>
          <li>-20 points &le; <i class="fa fa-user"></i> &le; 100 points <i class="fa fa-arrow-right"></i> 0 points</li>
          <li>101 points &le; <i class="fa fa-user"></i> &le; 250 points <i class="fa fa-arrow-right"></i> 5 points</li>
          <li>251 points &le; <i class="fa fa-user"></i> &le; 500 points <i class="fa fa-arrow-right"></i> 10 points</li>
          <li>501 points &le; <i class="fa fa-user"></i>&nbsp;<i class="fa fa-arrow-right"></i> 15 points</li>
        </ul>
      </small>
    </div>
  </div>
  </div>

</div>
