<h1 mat-dialog-title>Composition de l'équipe<span style="float:right;margin-left:20px;"><button class="close" (click)="fermerSelection();">&times;</button></span></h1>
<div mat-dialog-content >
  <div class="col-12">
    <button class="btn btn-sm btn-info" (click)="ajouterMembre();">Ajouter un membre</button>
  </div>
  <div *ngFor="let membre of membresEquipe" class="membreDiv" >
    <strong>{{membre.nom}} {{membre.prenom.substring(0,1)}}.</strong>
    &nbsp;<span *ngIf="membre.classementCorpoActuel">({{membre.classementCorpoActuel.points}} points)&nbsp;</span>
    <button style="float:right;" class="btn btn-sm btn-danger" (click)="retirerMembre(membre);" >Retirer de l'équipe</button>
  </div>
  <div *ngIf="isCriterium();" ><strong>Points de l'équipe : {{getPointsEquipe()}} points</strong></div>
  <div *ngIf="!isCriterium();" ><strong>Points minimum de l'équipe : {{getPointsEquipeLimitedToFour(true)}} points</strong></div>
  <div *ngIf="!isCriterium();" ><strong>Points maximum de l'équipe : {{getPointsEquipeLimitedToFour(false)}} points</strong></div>
  <div align="center" style="margin-top:5px;">
    <button class="btn btn-success" (click)="fermerSelection();">Fermer</button>
  </div>
</div>
