<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="height:25px;" >
  <div class="ml-auto">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#connexionModal">
      Connexion
    </button>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="top:25px;" >
  <a class="navbar-brand" routerLink="/home"><i class="fa fa-home"></i>&nbsp;{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" data-toggle="collapse"  data-target=".navbar-collapse.show">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/rencontres" >Rencontres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/classements" >Classements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/membres" >Membres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clubs" >Clubs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Paramètres</a>
          <a class="dropdown-item" href="#">Administrateurs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Nouvelle saison</a>
        </div>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i> Search</button>-->
    <!--</form>-->
  </div>
</nav>


<!-- Connexion Modal -->
<div class="modal fade" id="connexionModal" tabindex="-1" role="dialog" aria-labelledby="connexionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="connexionModalLabel">Connexion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <button class="btn btn-light btn-block"><i class="fa fa-key"></i>&nbsp;Connexion via Login</button>
          <button class="btn btn-primary btn-block"><i class="fa fa-facebook" style="width:20px;border-style:solid;border-width:1px;padding:2px;border-radius:5px"></i>&nbsp;Connexion via Facebook</button>
          <button class="btn btn-danger btn-block"><i class="fa fa-google" style="width:20px;border-style:solid;border-width:1px;padding:2px;border-radius:5px"></i>&nbsp;Connexion via Google</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<nav class="navbar fixed-bottom navbar-dark bg-dark" style="height:25px;">
  <div class="navbar-nav mr-auto">
    <span class="navbar-text" >Contact</span>
  </div>
</nav>
