/* Workaround pour dialog angular material au dessus de navbar bootstrap */
.tennisCorpoNavbar{
    z-index:999;
    font-family: 'Ubuntu', sans-serif;
}

.tennisCorpoConnectionBar{
}

.tennisCorpoMenuBar{
    top:32px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.66);
}

.bottomLink{
  padding-bottom:10px;
}

.howtoLink{
  cursor:pointer;
  color:white;
  text-decoration:none;
}

.howtoLink:hover{
  color:gold;
}

.contactLink{
  cursor:pointer;
  color:white;
  text-decoration:none;
}

.contactLink:hover{
  color:#58D68D;
}

.reglementsLink{
  cursor:pointer;
  color:white;
  text-decoration:none;
}

.reglementsLink:hover{
  color:#E74C3C;
}

.facebookLink{
  cursor:pointer;
  color:white;
  text-decoration:none;
}

.facebookLink:hover{
  color:#8b9dc3;
}
