<!--The content below is only a placeholder and can be replaced.-->

<nav class="tennisCorpoConnectionBar tennisCorpoNavbar navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
    <div class="ml-auto">
        <a style="color:white;cursor:pointer" (click)="cookiePopup();"><i class="fa fa-question-circle-o"></i></a>
        &nbsp;
        <a *ngIf="!user && cookiePref" (click)="ouvrirLoginForm();" style="color:white;cursor:pointer"> <!-- data-toggle="modal" data-target="#connexionModal"-->
          Connexion
        </a>
        <a *ngIf="user" (click)="ouvrirCompteUtilisateur();" style="color:white;cursor:pointer"> <!-- data-toggle="modal" data-target="#connexionModal"-->
            <i class="fa fa-user"></i>&nbsp;{{user.prenom}}&nbsp;{{user.nom}}
        </a>
    </div>
</nav>

<nav class="tennisCorpoMenuBar tennisCorpoNavbar navbar navbar-expand-lg navbar-light bg-light fixed-top" >
    <a class="navbar-brand" routerLink="/home"><i class="fa fa-home"></i>&nbsp;{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" data-toggle="collapse"  data-target=".navbar-collapse.show">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/rencontres" >Rencontres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/classements" >Classements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/membres" >Membres</a>
            </li>
            <li *ngIf="isAdminConnected()" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/championnats">Championnats</a>
                    <a class="dropdown-item" routerLink="/dashboard">Tableau de bord</a>
                    <a class="dropdown-item" routerLink="/documents">Documents</a>
                    <a class="dropdown-item" routerLink="/supervision">Supervision</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/clubs">Clubs</a>
                    <a class="dropdown-item" routerLink="/terrains">Terrains</a>
                    <a class="dropdown-item" routerLink="/utilisateurs">Utilisateurs</a>
                </div>
            </li>
            <!--<li class="nav-item">-->
            <!--<a class="nav-link disabled" href="#">Disabled</a>-->
            <!--</li>-->
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
        <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i> Search</button>-->
        <!--</form>-->
    </div>
</nav>

<!--<div style="padding:25px;background-color:#DA6635">-->
<div style="padding:25px;background-image:url('/assets/images/home.jpg');background-size:cover">
    <router-outlet></router-outlet>
</div>

<div class="col-12 bg-dark" style="color:lightgrey" >
  <div class="row" style="padding-top:30px;padding-left:25px;padding-bottom:10px;">
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 text-left bottomLink" >
        <a class="howtoLink" routerLink="/howto" ><i class="fa fa-info-circle fa-2x"></i>&nbsp;&nbsp;Comment ça marche ?</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 text-left bottomLink" >
        <a class="contactLink" href="mailto:tenniscorponamur@gmail.com" ><i class="fa fa-comment fa-2x"></i>&nbsp;&nbsp;Contact</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 text-left bottomLink" >
        <a class="reglementsLink" href="http://www.tenniscorpo-namur.be" target="_blank"><i class="fa fa-file-text fa-2x"></i>&nbsp;&nbsp;Règlements</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 text-left bottomLink" >
          <a class="facebookLink" href="https://www.facebook.com/groups/125889474795302/" target="_blank"><i class="fa fa-facebook-official fa-2x"></i>&nbsp;&nbsp;Site Facebook</a>
      </div>
  </div>
</div>

<!--<div class="card" >
    <img class="card-img" src="/assets/images/home.jpg" alt="Card image">
    <div class="card-img-overlay clearfix" style="padding:0px">
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
        <div class="w-100 bg-dark text-white" style="position:relative;bottom:0px;" >
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 text-center">
                    Contact
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 text-center">
                    Téléchargements
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 text-center">
                    <i class="fa fa-facebook"></i> Site Facebook
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 text-center">
                    Tous droits réservés&nbsp;&copy;
                </div>
            </div>
        </div>
    </div>
</div>-->

<!--&lt;!&ndash; Connexion Modal &ndash;&gt;-->
<!--<div class="modal fade" id="connexionModal" tabindex="-1" role="dialog" aria-labelledby="connexionModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="connexionModalLabel">Connexion</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<button class="btn btn-light btn-block"><i class="fa fa-key"></i>&nbsp;Connexion via Login</button>-->
                <!--<button class="btn btn-primary btn-block"><i class="fa fa-facebook" style="width:20px;border-style:solid;border-width:1px;padding:2px;border-radius:5px"></i>&nbsp;Connexion via Facebook</button>-->
                <!--<button class="btn btn-danger btn-block"><i class="fa fa-google" style="width:20px;border-style:solid;border-width:1px;padding:2px;border-radius:5px"></i>&nbsp;Connexion via Google</button>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
