<h1 mat-dialog-title>Demande de mot de passe<span style="float:right;"><button class="close" (click)="cancel();">&times;</button></span></h1>
<div mat-dialog-content >
    <div *ngIf="showAlert" class="col-12">
        <div class="alert alert-danger" role="alert">
            <small>Veuillez préciser un numéro AFT et cliquer le CAPTCHA</small>
        </div>
    </div>
    <div *ngIf="showFailure" class="col-12">
        <div class="alert alert-danger" role="alert">
            <small>Impossible de renouveller le mot de passe. Contactez l'administrateur</small>
        </div>
    </div>
    <div *ngIf="!showSuccess">
        <div class="col-12 text-center">
            <mat-form-field> 
                <input matInput autofocus required placeholder="Numéro AFT" [(ngModel)]="numeroAft">
            </mat-form-field>
        </div>

        <div class="col-12 text-center">
            <re-captcha (resolved)="resolved($event)" siteKey="{{recaptchaKey}}"></re-captcha>
        </div>

        <div align="center" style="margin-top:5px">
            <button class="btn btn-info" (click)="askPassword();">&nbsp;Demander mot de passe</button>
        </div>

    </div>

    <div *ngIf="showSuccess" class="col-12" style="margin-top:5px">
        <div class="alert alert-success" role="alert">
            Nouveau mot de passe envoyé par email.<br/>
            <small>(Vérifiez également vos courriers indésirables)</small>
        </div>
    </div>

</div>
