<h1 mat-dialog-title>Sélection<span style="float:right;"><button class="close" (click)="fermerSelection();">&times;</button></span></h1>
<div class="row">
  <mat-form-field>
    <input matInput placeholder="Filter" [(ngModel)]="filtreNomPrenom" (keyup)="filtre()">
  </mat-form-field>
</div>
<div class="row">
  <mat-radio-group required [(ngModel)]="filtreGenre" (change)="filtre()">
    <mat-radio-button color="primary" *ngFor="let genre of genres" [value]="genre.code" style="margin-right:10px">
      {{genre.libelle}}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div *ngIf="chargementMembres" class="progressDiv text-center">
  <mat-spinner diameter=50 style="margin:auto"></mat-spinner>
  Récupération des membres
</div>

<div class="membreList">
  <div *ngFor="let membre of filteredMembres" class="membreDiv" (click)="select(membre);">
    <strong>{{membre.nom}}  {{membre.prenom}}</strong>
      <br/>
      <small>AFT : <span *ngIf="membre.classementAFTActuel">{{membre.classementAFTActuel.codeClassement}}</span> / Corpo : <span *ngIf="membre.classementCorpoActuel">{{membre.classementCorpoActuel.points}} points</span><span class="equivalence" *ngIf="showEquivalence(membre);">&nbsp;({{equivalencePoints(membre)}} points)</span></small>
  </div>
</div>
