.progressDiv{
  margin:25px;
}
.membreDiv{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin:5px;
    background-color:lightgrey;
    cursor:pointer;
}
.membreList{
  max-height:400px;
}

.equivalence{
  color:red;
}
