<div class="row">
  <div class="tennisCorpoBox col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card text-center">
      <h4 class="card-header">
        Tâches
      </h4>
      <div class="card-body text-center">
        <div>
          <div (click)="ouvrirTache();" class="myBox text-left" style="cursor:pointer;">
            <div class="myBoxTitle">
              <i class="fa fa-tasks"></i>&nbsp;<strong>NOUVEAU MEMBRE</strong> : <span class="text-uppercase">calay</span>&nbsp;Damien
            </div>
            <div class="myBoxContent">
              <div>Demande introduite le 08/04/2019 à 15:15 par François Heynen</div>
              <div>
                Infos de base (nom, prenom, date de naissance, genre, club)
              </div>
              <div>
                Coordonnées
              </div>
              <div>
                Numero AFT si club AFT sinon affiliation corpo
              </div>
              <div>
                Proposition de points Corpo
              </div>
            </div>
          </div>

          <div (click)="ouvrirTache();" class="myBox text-left" style="cursor:pointer;">
            <div class="myBoxTitle">
              <i class="fa fa-tasks"></i>&nbsp;<strong>DESACTIVATION MEMBRE</strong> : <span class="text-uppercase">calay</span>&nbsp;Fabrice
            </div>
            <div class="myBoxContent">
              <div>Demande introduite le 10/04/2019 à 9:15 par Nicolas Bonjean</div>
            </div>
          </div>

          <div (click)="ouvrirTache();" class="myBox text-left" style="cursor:pointer;">
            <div class="myBoxTitle">
              <i class="fa fa-tasks"></i>&nbsp;<strong>REACTIVATION MEMBRE</strong> : <span class="text-uppercase">calay</span>&nbsp;Fabrice
            </div>
            <div class="myBoxContent">
              <div>Demande introduite le 10/04/2019 à 9:15 par Nicolas Bonjean</div>
            </div>
          </div>

          <div (click)="ouvrirTache();" class="myBox text-left" style="cursor:pointer;">
            <div class="myBoxTitle">
              <i class="fa fa-tasks"></i>&nbsp;<strong>CHANGEMENT POINTS CORPO</strong> : <span class="text-uppercase">calay</span>&nbsp;Fabrice
            </div>
            <div class="myBoxContent">
              <div>Demande introduite le 10/04/2019 à 9:15 par Nicolas Bonjean</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--<div #utilisateurDetail class="col-sm-12 col-md-12 col-lg-6 col-xl-6" >-->
    <!--<app-utilisateur-detail *ngIf="selectedUser" [utilisateur]="selectedUser" (deleteUser)="deleteUtilisateur($event)" ></app-utilisateur-detail>-->
  <!--</div>-->

</div>
