
<div class="row">
  <div class="tennisCorpoBox col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card text-center">
      <h4 class="card-header">
        Tâches
      </h4>
      <div class="card-body text-center">
        <div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" *ngIf="isAdminConnected();">
              <mat-form-field>
                <input matInput placeholder="Demandeur" [(ngModel)]="_demandeur" (keyup)="filtre()">
              </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <mat-form-field>
                <input matInput placeholder="Concerne" [(ngModel)]="_concerne" (keyup)="filtre()" >
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <mat-checkbox color="primary" [(ngModel)]="withArchives" (change)="refreshTasks();" ><em>Inclure archives</em></mat-checkbox>
            </div>
          </div>

          <mat-tab-group>
            <mat-tab label="Demandes en cours">
              <div *ngFor="let tache of tachesOuvertes" (click)="ouvrirTache(tache);" class="myBox text-left" style="cursor:pointer;">
                <div class="myBoxTitle">
                  <i class="fa fa-tasks"></i>&nbsp;<strong>{{getTypeTache(tache)}}</strong> : <span class="text-uppercase">{{tache.membre.nom}}</span>&nbsp;{{tache.membre.prenom}}
                </div>
                <div class="myBoxContent">
                  <div>Demande introduite par {{tache.demandeur.prenom}} {{tache.demandeur.nom}} le {{tache.dateDemande | date:'dd/MM/yyyy'}} à {{tache.dateDemande | date:'HH:mm'}}</div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Demandes traitées">
              <div *ngFor="let tache of tachesTraitees" (click)="ouvrirTache(tache);" class="myBox text-left" style="cursor:pointer;">
                <div class="myBoxTitle">
                  <i class="fa fa-tasks"></i>&nbsp;<strong>{{getTypeTache(tache)}}</strong> : <span class="text-uppercase">{{tache.membre.nom}}</span>&nbsp;{{tache.membre.prenom}}
                  <span *ngIf="tache.archived" style="float:right;"><a><i class="fa fa-archive"></i>&nbsp;</a></span>
                  <span *ngIf="tache.markAsRead" style="float:right;"><a><i class="fa fa-envelope-open"></i>&nbsp;</a></span>
                </div>
                <div class="myBoxContent">
                  <div>Demande introduite par {{tache.demandeur.prenom}} {{tache.demandeur.nom}} le {{tache.dateDemande | date:'dd/MM/yyyy'}} à {{tache.dateDemande | date:'HH:mm'}}</div>
                  <div><span *ngIf="tache.validationTraitement" style="color:green;">Demande traitée par {{tache.agentTraitant}} le {{tache.dateTraitement | date:'dd/MM/yyyy'}} à {{tache.dateTraitement | date:'HH:mm'}}</span></div>
                  <div><span *ngIf="tache.refusTraitement" style="color:red;">Demande refusée par {{tache.agentTraitant}} le {{tache.dateTraitement | date:'dd/MM/yyyy'}} à {{tache.dateTraitement | date:'HH:mm'}}</span></div>
                  <div><span *ngIf="tache.refusTraitement && tache.commentairesRefus" style="color:red;"><small><em>{{tache.commentairesRefus}}</em></small></span></div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>

        </div>
      </div>
    </div>
  </div>

  <div #tacheDetail class="col-sm-12 col-md-12 col-lg-6 col-xl-6" >
    <app-tache-detail *ngIf="selectedTask" [tache]="selectedTask" ></app-tache-detail>
  </div>

</div>
