<div class="col-12" class="equipesComponent">


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <mat-form-field>
        <mat-select placeholder="Championnat" [(ngModel)]="selectedChampionnat" (selectionChange)="loadChampionship();" >
          <mat-option *ngFor="let championnat of championnats" [value]="championnat">
            <span>
                <i class="{{getTrophyClass(championnat)}}"></i>
                <i class="{{getTypeClass(championnat)}}" ></i>
            </span>
            <small>
              {{getTypeChampionnat(championnat).libelle}}
              {{championnat.annee}}
              {{getCategorieChampionnat(championnat).libelle}}
            </small>
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field *ngIf="isAdminConnected();">
        <mat-select placeholder="Club" [(ngModel)]="selectedClub" (selectionChange)="changeClub();" >
          <mat-option>Aucun club</mat-option>
          <mat-option *ngFor="let club of clubs" [value]="club">
            <small>{{ club.nom }}</small>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="selectedChampionnat" class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="text-white text-center championshipHeader {{getChampionshipHeader(selectedChampionnat)}}" >
        <i class="fa fa-trophy"></i>
        {{getTypeChampionnat(selectedChampionnat).libelle}} {{selectedChampionnat.annee}}
        <i class="{{getTypeIcon(selectedChampionnat)}}"></i>
        - {{getCategorieChampionnat(selectedChampionnat).libelle}}
      </div>
    </div>

  </div>

  <div class="row">
    <div *ngIf="!addable" class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="alert alert-danger" role="alert">
        <small>Les inscriptions ne sont pas/plus autorisées pour ce championnat</small>
      </div>
    </div>
    <div class="col-12">
      <small>
        <em>
          Si plus de 7 équipes inscrites dans une division <i class="fa fa-arrow-right"></i> 2 poules et interséries simples<br />
          Moins de 4 équipes <i class="fa fa-arrow-right"></i> Analyse avec les capitaines et possibilité d'aller-retour
        </em>
      </small>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let division of divisions" class="col-sm-12 col-md-6 col-lg-4 col-xl-3" class="pieChartBox">
      <canvas *ngIf="showGraph[division.id]"
              baseChart
              [data]="pieChartDataByDivision[division.id]"
              [labels]="pieChartLabelsByDivision[division.id]"
              [chartType]="pieChartType"
              [options]="pieOptionsByDivision[division.id]"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
      <h6 class="text-center">{{getNbEquipesByDivision(division)}} équipes</h6>
      <div class="text-center" *ngIf="addable" ><a (click)="addTeam(division);" style="cursor:pointer;text-decoration:underline;"><small>Nouvelle équipe en Division {{division.numero}}</small></a></div>
    </div>
  </div>

  <div class="row">
    <div #equipeList class="tennisCorpoBox col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="card text-center">
        <div class="card-header">
          <h4>Mes équipes</h4>
        </div>
        <div class="card-body text-center">

          <div *responsive="{bootstrap: ['sm','xs'] }" class="text-left" style="height:300px;overflow-y:auto;">
            <div *ngFor="let equipe of sortedTeams" (click)="ouvrirEquipeOnMobile(equipe);" class="myBox text-left" style="cursor:pointer;">
              <div class="myBoxTitle">
                <i class="fa fa-users"></i>&nbsp;{{equipe.codeAlphabetique}} - Division {{equipe.division.numero}}
              </div>
              <div class="myBoxContent">
                Capitaine : <span *ngIf="equipe.capitaine">{{equipe.capitaine.nom}} {{equipe.capitaine.prenom.substring(0,1)}}.</span>
              </div>
            </div>
          </div>

            <div *responsive="{bootstrap: ['md','lg','xl'] }" class="text-left">
              <div class="table-responsive" style="height:300px;">
                <table class="equipeTable table table-sm table-hover" matSort (matSortChange)="sortData($event)">
                  <!--table-striped-->
                  <thead class="bg-info" >
                  <tr>
                    <th scope="col" mat-sort-header="division">Division</th>
                    <th scope="col" mat-sort-header="equipe">Equipe</th>
                    <th scope="col" >Capitaine</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let equipe of sortedTeams" (click)="ouvrirEquipe(equipe);" class="text-left">
                    <td>Division {{equipe.division.numero}}</td>
                    <td>{{equipe.codeAlphabetique}}</td>
                    <td><span *ngIf="equipe.capitaine">{{equipe.capitaine.nom}} {{equipe.capitaine.prenom.substring(0,1)}}.</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div #equipeDetail class="col-sm-12 col-md-12 col-lg-6 col-xl-6" >
      <app-equipe-detail *ngIf="selectedTeam" [equipe]="selectedTeam" [master]="componentName" (deleteEquipe)="deleteEquipe($event)" ></app-equipe-detail>
    </div>

  </div>
</div>
