<h1 mat-dialog-title>Choix d'une rencontre critérium<span style="float:right;"><button class="close"
                                                                                       (click)="cancel();">&times;</button></span>
</h1>
<div mat-dialog-content>

  <div class="row text-center">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <mat-form-field>
        <mat-select placeholder="Catégorie" [(ngModel)]="categorieCode" (selectionChange)="loadDivisions();">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let categorie of categories" [value]="categorie.code">
            {{categorie.libelle}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <mat-form-field>
        <mat-select placeholder="Division" [(ngModel)]="divisionId" (selectionChange)="filtre();">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let division of divisions" [value]="division.id">
            Division {{division.numero}}&nbsp;<small>({{division.pointsMinimum}}-{{division.pointsMaximum}})</small>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <mat-form-field>
        <input matInput type="number" placeholder="Journée" [(ngModel)]="numeroJournee" (change)="filtre();" (keyup.enter)="filtre();" (blur)="filtre();" >
      </mat-form-field>
    </div>

  </div>

  <div class="rencontreDiv" *ngFor="let rencontre of filteredRencontres" (click)="choixRencontre(rencontre)">
    <div>
      <strong>
        {{rencontre.equipeVisites.codeAlphabetique}}
        <small><em>({{getNbRencontresProgrammees(rencontre.equipeVisites)}})</em></small>
        - {{rencontre.equipeVisiteurs.codeAlphabetique}}
        <small><em>({{getNbRencontresProgrammees(rencontre.equipeVisiteurs)}})</em></small>
      </strong>
    </div>
    <div>
      <small><em>{{getCompoEquipe(rencontre.equipeVisites)}} - {{getCompoEquipe(rencontre.equipeVisiteurs)}}</em></small>
    </div>
    <div *ngIf="isDoublon(rencontre)">
      <small style="color:red;">Joue(nt) déjà au même moment</small>
    </div>
    <div *ngIf="rencontre.equipeVisites.commentaires">
      <small style="color:red;">{{rencontre.equipeVisites.commentaires}}</small>
    </div>
    <div *ngIf="rencontre.equipeVisiteurs.commentaires">
      <small style="color:red;">{{rencontre.equipeVisiteurs.commentaires}}</small>
    </div>
    <div>
      <small>{{getCategorieCode(rencontre)}}<span *ngIf="rencontre.poule">&nbsp;- Poule {{rencontre.poule.numero}}</span>&nbsp;- Journée {{rencontre.numeroJournee}}</small>
    </div>
  </div>

</div>
