

<div class="card">
  <h6 class="card-header">
    Planification des rencontres Critérium
  </h6>
  <div class="card-body">
    <input placeholder="Saison" [(ngModel)]="annee" (change)="refreshCalendrier()" />
    <button class="btn btn-info btn-sm" (click)="addJournee();" >Ajouter journée</button>
    <span *ngIf="getRemainingSize()>0" style="color:red;"><strong>Reste {{getRemainingSize()}} rencontre(s) à planifier</strong></span>
    <div *ngFor="let journee of journees" class="journeeBox col-12" >
      <div class="journeeTitle row" >
        <span *ngIf="journee.terrain"><strong>{{journee.terrain.nom}}</strong></span>
        &nbsp;
        <strong>le {{journee.date| date:'dd/MM/yyyy'}}</strong>
        &nbsp;
        <button class="btn btn-success btn-sm" (click)="addHoraire(journee);">Ajouter horaire</button>
      </div>
      <div *ngFor="let horaire of journee.horaires" class="horaireBox col-12" >
        <div class="horaireTitle row" >
          <strong>{{journee.date| date:'dd/MM/yyyy'}} - {{formatHeureMinutes(horaire.heures,horaire.minutes)}}</strong>
          &nbsp;<button class="btn btn-primary btn-sm" (click)="choixRencontre();">Ajouter rencontre</button>
        </div>
        <div class="row">
          <div class="rencontreBox" *ngFor="let rencontre of horaire.rencontres">
            <div>
              <span style="float:right;"><button style="border-radius:15px;cursor:pointer;"><i class="fa fa-ban" ></i></button></span>
            </div>
            <div style="margin-right:20px;">
              <div>
                <strong>{{rencontre.equipeVisites.codeAlphabetique}}</strong>
              </div>
              <div>
                <strong>{{rencontre.equipeVisiteurs.codeAlphabetique}}</strong>
              </div>
              <div>
                <small>{{getCategorieCode(rencontre)}}</small>
              </div>
              <div>
                <select>
                  <option></option>
                  <option selected="true">
                    <small>VOOS</small>
                  </option>
                  <option>
                    <small>DUMONT</small>
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    Pour la sélection de rencontre : Dernières rencontres "supprimées" afin de faciliter les mouvements
    d'horaire
  </div>
</div>
