

<div class="card">
  <h6 class="card-header">
    Planification des rencontres Critérium
  </h6>
  <div class="card-body">
    <input placeholder="Saison" [(ngModel)]="annee" (change)="refreshCalendrier()" />
    <button *ngIf="criteriumEditable" class="btn btn-info btn-sm" (click)="addJournee();" >Ajouter journée</button>
    <span *ngIf="getRemainingSize()>0" style="color:red;"><strong>Reste {{getRemainingSize()}} rencontre(s) à planifier</strong></span>
    <span *ngIf="getRemainingSize()==0" ><strong>Aucune rencontre à planifier</strong></span>

    <div *ngIf="chargementRencontres" class="progressDiv text-center" >
      <mat-spinner diameter=50 style="margin:auto"></mat-spinner>
    </div>

    <div *ngIf="!chargementRencontres">
    <div *ngFor="let journee of journees" class="journeeBox col-12" >
      <div class="journeeTitle row" >
        <span *ngIf="journee.terrain"><strong>{{journee.terrain.nom}}</strong></span>
        &nbsp;
        <strong>le {{journee.date| date:'dd/MM/yyyy'}}</strong>
        &nbsp;
        <button *ngIf="criteriumEditable" class="btn btn-success btn-sm" (click)="addHoraire(journee);">Ajouter horaire</button>
      </div>
      <div *ngFor="let horaire of journee.horaires" class="horaireBox col-12" >
        <div class="horaireTitle row" >
          <strong>{{journee.date| date:'dd/MM/yyyy'}} - {{formatHeureMinutes(horaire.heures,horaire.minutes)}}</strong>
          &nbsp;<button  *ngIf="criteriumEditable" class="btn btn-primary btn-sm" (click)="choixRencontre(journee,horaire);">Ajouter rencontre</button>
        </div>
        <div class="row">
          <div class="rencontreBox" *ngFor="let rencontre of horaire.rencontres">
            <div *ngIf="criteriumEditable">
              <span style="float:right;"><button style="border-radius:15px;cursor:pointer;" (click)="deplanifierRencontre(horaire,rencontre.rencontre);"><i class="fa fa-ban" ></i></button></span>
            </div>
            <div style="margin-right:20px;">
              <div>
                <strong>{{rencontre.rencontre.equipeVisites.codeAlphabetique}}</strong>
              </div>
              <div>
                <strong>{{rencontre.rencontre.equipeVisiteurs.codeAlphabetique}}</strong>
              </div>
              <div>
                <small>{{getCategorieCode(rencontre.rencontre)}}</small>&nbsp;
                <i *ngIf="isRencontreDame(rencontre.rencontre)" class="fa fa-female" style="color:deeppink;"></i>
                <i *ngIf="isRencontreDoubleDame(rencontre.rencontre)" class="fa fa-female" style="color:deeppink;"></i>
                <i *ngIf="isRencontreHomme(rencontre.rencontre)" class="fa fa-male" style="color:midnightblue;"></i>
                <i *ngIf="isRencontreDoubleHomme(rencontre.rencontre)" class="fa fa-male" style="color:midnightblue;"></i>
              </div>
              <div>
                <span><small>Journée {{rencontre.rencontre.numeroJournee}}</small></span>&nbsp;
                <span><small>Poule {{rencontre.rencontre.poule.numero}}</small></span>
              </div>
              <div>

                <select [(ngModel)]="rencontre.courtId"
                        (change)="changeCourt(journee,rencontre)"
                        disabled="{{!criteriumEditable}}">
                  <option></option>
                  <option *ngFor="let court of journee.courts" value="{{court.id}}">{{court.code}}
                  </option>
                </select>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
