.progressDiv{
  margin:25px;
}

.journeeBox{
  border:1px solid #ccc;
  border-radius:10px;
  margin-top:10px;
}

.journeeTitle{
  padding:10px;
  border-radius:10px 10px 0px 0px;
  background-color:darkgrey;
  font-size:1.2em;
  margin-bottom:10px;
}

.horaireBox{
  border:1px solid #ccc;
  border-radius:10px;
}

.horaireTitle{
  padding:10px;
  border-radius:10px 10px 0px 0px;
  background-color:lightgrey;
  font-size:1.2em;
}

.rencontreBox{
  width:250px;
  background-color:lightblue;
  border-radius:15px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  margin:5px;
}
