<div class="releaseNotesDiv" >
  <h3>Release Notes</h3>
  <ul class="timeline" >
    <li class="dateLabel">
      <div class="timeline-date">30/06/2020</div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="fa fa-rocket"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Evolutions</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Possibilité de définir des compositions d'équipe</li>
            <li>Ouverture aux responsables pour la définition des équipes</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="dateLabel">
      <div class="timeline-date">22/06/2020</div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="fa fa-rocket"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Evolutions</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Possibilité d'envoyer des mails de rappel</li>
            <li>Possibilité d'exporter les membres de sa corporation pour les responsables</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="dateLabel">
      <div class="timeline-date">16/02/2020</div>
    </li>
    <li>
      <div class="timeline-badge warning"><i class="fa fa-bug"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Correction bug</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Renouvellement de la connexion</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="fa fa-rocket"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Evolutions</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Ajout de liens pour les réseaux sociaux</li>
            <li>Informations relatives aux terrains (buvette, bancontact, ...)</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="dateLabel">
      <div class="timeline-date">15/02/2020</div>
    </li>
    <li>
      <div class="timeline-badge warning"><i class="fa fa-bug"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Correction bug</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Accès à la liste des membres impossible sans connexion</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="fa fa-rocket"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Evolutions</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Ajout d'un lien pour créer un événement Google Agenda</li>
            <li>Gestion d'un match annulé sur décision de la commission sportive</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="dateLabel">
      <div class="timeline-date">05/07/2019 </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="fa fa-rocket"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Evolutions</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Ajout de modes de visualisation des rencontres</li>
            <li>Ajout d'une alerte lorsque des joueurs n'ont pas été précisés</li>
            <li>Ajout d'un bouton "Forfait" pour l'administrateur</li>
            <li>Ajout d'un nombre de membres visibles après filtre</li>
            <li>Ajout des informations pour la facturation dans la fiche de la corporation</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="dateLabel">
      <div class="timeline-date">04/05/2019 </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge admin"><i class="fa fa-cogs"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Maintenance</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Mise à jour des librairies</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="dateLabel">
      <div class="timeline-date">27/04/2019 </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="fa fa-rocket"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Evolutions</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Affichage des statistiques de matchs d'un membre</li>
            <li>Possibilité d'afficher les matchs joués par un membre en partant de ses statistiques</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="dateLabel">
      <div class="timeline-date">07/04/2019 </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="fa fa-rocket"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Evolutions</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Possibilité de valider la rencontre à l'aide du mot de passe de l'adversaire</li>
            <li>Possibilité d'autoriser des partenaires à encoder/valider toutes les rencontres de l'équipe</li>
            <li>Liste de force triée par points</li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge warning"><i class="fa fa-bug"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Correction bug</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Correction affichage de l'équipe victorieuse en interséries</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="dateLabel">
      <div class="timeline-date">04/04/2019 </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="fa fa-rocket"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Evolutions mineures</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Ajout de liens vers les fiches des capitaines dans le détail d'une rencontre</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="dateLabel">
      <div class="timeline-date">23/03/2019 </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="fa fa-rocket"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Première version de l'application</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>Gestion des championnats</li>
            <li>Gestion des membres</li>
            <li>Encodage et validation des rencontres</li>
            <li>Classements</li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <!--<div class="timeline-badge warning"><i class="fa fa-bug"></i></div>-->
      <!--<div class="timeline-panel">-->
        <!--<div class="timeline-heading">-->
          <!--<h4 class="timeline-title">Correction Bugs</h4>-->
        <!--</div>-->
        <!--<div class="timeline-body">-->
          <!--<p>Correction d'un bug pour la création des rencontres interséries</p>-->
          <!--<p>Correction d'un bug pour l'export du calendrier en PDF lorsqu'il y a plusieurs poules dans la division</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->
  </ul>
</div>
