<h1 mat-dialog-title>Description</h1>
<div mat-dialog-content >
    <div *ngIf="showAlert" class="col-12">
      <div class="alert alert-danger" role="alert">
        Remplissez les champs
      </div>
    </div>
    <div class="col-12">
      <mat-radio-group required [(ngModel)]="_type">
        <mat-radio-button color="primary" *ngFor="let genre of types" [value]="type.code" style="margin-right:10px">
          {{type.libelle}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div align="center">
        <button class="btn btn-danger" (click)="cancel();">Annuler</button>
        <button class="btn btn-success" (click)="save();">Sauver</button>
    </div>

</div>
