<div class="card tennisCorpoBox">
    <h4 class="card-header">
        Championnat
    </h4>
    <div class="card-body">

        <div class="row">

            <div class="col-2">
                <div style="text-align:right;">
                    <i class="fa fa-trophy fa-5x" style="color:darkgoldenrod"></i>
                </div>
            </div>

            <div class="col-10">
                <div class="myBox myBoxEditable">
                    <div class="myBoxTitle">
                        Description<span style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
                    </div>
                    <div class="myBoxContent">
                        2008
                        Ete
                        Messieurs
                    </div>
                </div>
            </div>


            <div class="tennisCorpoBox col-12">
                <div class="card">
                    <h6 class="card-header" style="background-color: steelblue">
                        Messieurs
                    </h6>
                    <div class="card-body">
                        <div class="table-responsive" >
                            <table class="table table-sm" >
                                <thead class="bg-info" >
                                    <tr>
                                        <th scope="col" >N° Division</th>
                                        <th scope="col" >Points max</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                <mat-slider 
                                    color="primary" 
                                    min="0" 
                                    max="500"
                                    step="5"
                                    thumb-label="true"
                                    tick-interval="10">
                                </mat-slider>
                                <input type="number" value="600" style="width:3em" >
                                </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><input type="number" value="500" ></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><input type="number" value="400" ></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><input type="number" value="300" ></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><input type="number" value="200" ></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td><input type="number" value="150" ></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td><input type="number" value="100" ></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>