.trophyType{
    position:absolute;
    top:5px;
    right:5px;
}

.deleteDivisionButton{
    background-color:lightgrey;
    border-radius:10px;
    cursor:pointer;
}

.deleteChampionnatButton{
    cursor:pointer;
}