<div class="card tennisCorpoBox">
    <h4 class="card-header">
        Championnat
        <span style="float:right">
            <a (click)="supprimerChampionnat();" class="deleteChampionnatButton"><i class="fa fa-trash" ></i></a>
        </span>
    </h4>
    <div class="card-body">

        <div class="row">

            <div class="col-2">
                <div style="text-align:right;padding-top:20px">
                    <span>
                        <i class="fa fa-trophy fa-4x" style="color:darkgoldenrod"></i>
                        <i [ngClass]="trophyTypeClass" ></i>
                    </span>

                </div>
            </div>

            <div class="col-10">
                <div class="myBox myBoxEditable">
                    <div class="myBoxTitle" (click)="ouvrirChampionnat();">
                        Description<span style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
                    </div>
                    <div class="myBoxContent">
                        {{getTypeChampionnat(championnat).libelle}}

                        {{championnat.annee}}

                    </div>
                </div>
            </div>


            <div class="tennisCorpoBox col-12">
                <div class="card">
                    <h6 [ngClass]="divisionHeaderClass">
                        {{getCategorieChampionnat(championnat).libelle}}
                    </h6>
                    <div class="card-body">

                        <div *ngIf="showProgress" class="text-center">
                            <mat-spinner diameter=50 style="margin:auto"></mat-spinner>
                            Tri des divisions
                        </div>

                        <div class="table-responsive" *ngIf="!showProgress" >
                            <table class="table table-sm" >
                                <thead class="bg-info" >
                                    <tr>
                                        <th scope="col" >N° Division</th>
                                        <th scope="col" >Points min</th>
                                        <th scope="col" >Points max</th>
                                        <th scope="col" ></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let division of divisions" class="text-left">
                                        <td>{{division.numero}}</td>
                                        <td><input type="number" [(ngModel)]="division.pointsMinimum" style="width:5em" (keyup.enter)="pointsMinChanged(division);" (blur)="pointsMinChanged(division);" ></td>
                                        <td><input type="number" [(ngModel)]="division.pointsMaximum" style="width:5em" (keyup.enter)="pointsMaxChanged(division);" (blur)="pointsMaxChanged(division);"></td>
                                        <td><button (click)="supprimerDivision(division);" class="deleteDivisionButton"><i class="fa fa-trash" ></i></button></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div align="right" style="margin-top:10px;">
                            <button class="btn btn-secondary btn-sm" (click)="nouvelleDivision();" ><i class="fa fa-plus-circle"></i>&nbsp;Nouvelle division</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>