<div class="card tennisCorpoBox">
    <h4 class="card-header">
        Championnat
        <span *ngIf="!championnat.calendrierValide" style="float:right">
            <a (click)="supprimerChampionnat();" class="deleteChampionnatButton"><i class="fa fa-trash" ></i></a>
        </span>
    </h4>
    <div class="card-body">

        <div class="row">

            <div class="col-2">
                <div style="text-align:right;padding-top:20px">
                    <span>
                        <i class="fa fa-trophy fa-4x" style="color:darkgoldenrod"></i>
                        <i [ngClass]="trophyTypeClass" ></i>
                    </span>

                </div>
            </div>

            <div class="col-10">
                <div [ngClass]="boxClass">
                    <div class="myBoxTitle" (click)="ouvrirChampionnat();">
                        Description<span *ngIf="!championnat.calendrierValide" style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
                    </div>
                    <div class="myBoxContent">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                {{getTypeChampionnat(championnat).libelle}}
                                {{championnat.annee}}
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center" *ngIf="cloturable" >
                              <button class="btn btn-sm btn-warning" (click)="cloturerChampionnat();" ><i class="fa fa-check"></i>&nbsp;Clôturer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tennisCorpoBox col-12">
                <div class="card">
                    <h6 [ngClass]="divisionHeaderClass">
                        {{getCategorieChampionnat(championnat).libelle}}
                    </h6>
                    <div class="card-body">

                        <div *ngIf="showProgress" class="text-center">
                            <mat-spinner diameter=50 style="margin:auto"></mat-spinner>
                            Tri des divisions
                        </div>

                        <div class="table-responsive" *ngIf="!showProgress" >
                            <table class="table table-sm" >
                                <thead class="bg-info" >
                                    <tr>
                                        <th scope="col" >N° Division</th>
                                        <th scope="col" >Points min</th>
                                        <th scope="col" >Points max</th>
                                        <th scope="col" >Multi IS</th>
                                        <th scope="col" >Finales</th>
                                        <th scope="col"  *ngIf="!championnat.calendrierValide" ></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let division of divisions" class="text-left">
                                        <td>{{division.numero}}</td>
                                        <td><input type="number" [(ngModel)]="division.pointsMinimum" step="5" disabled="{{championnat.calendrierValide}}" style="width:5em" (keyup.enter)="pointsMinChanged(division);" (blur)="pointsMinChanged(division);" ></td>
                                        <td><input type="number" [(ngModel)]="division.pointsMaximum" step="5" disabled="{{championnat.calendrierValide}}" style="width:5em" (keyup.enter)="pointsMaxChanged(division);" (blur)="pointsMaxChanged(division);"></td>
                                        <td class="text-center"><input type="checkbox" [(ngModel)]="division.multiIS" disabled="{{championnat.calendrierValide}}" (change)="multiISChanged(division);" /></td>
                                        <td class="text-center"><input type="checkbox" [(ngModel)]="division.withFinales" disabled="{{championnat.calendrierValide}}" (change)="withFinalesChanged(division);" /></td>
                                        <td *ngIf="!championnat.calendrierValide"><button (click)="supprimerDivision(division);" class="deleteDivisionButton"><i class="fa fa-trash" ></i></button></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div *ngIf="!championnat.calendrierValide" align="right" style="margin-top:10px;">
                            <button class="btn btn-secondary btn-sm" (click)="nouvelleDivision();" ><i class="fa fa-plus-circle"></i>&nbsp;Nouvelle division</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

      <small>
      <strong>Rencontres interséries (plusieurs poules) :</strong><br/>
      <u><em>Aucune particularité</em></u> : <br/>Seule une rencontre entre les premiers de chaque poule est programmée<br/>
      <u><em>Finale</em></u> : <br/>Les deux premières équipes de chaque poule vont se rencontrer de manière croisée (1<sup>er</sup> contre 2<sup>nd</sup> et inversément) avant une petite et une grande finale<br/>
      <u><em>Multi IS</em></u> : <br/>Les équipes classées au même position se rencontrent
      </small>
    </div>
</div>
