<div class="row">

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="dashboardBox greyBackground" >
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-users fa-4x dashboardIcon" ></i>
        </div>
        <div class="col-8 dashboardContent" >
          <span *ngIf="chargementCompteursClubs">
            <i class="fa fa-spinner fa-pulse"></i>
          </span>
          <span *ngIf="!chargementCompteursClubs">{{nbClubsActifs}}</span>
          <span>clubs actifs</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="dashboardBox greenBackground" >
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-user fa-4x dashboardIcon" ></i>
        </div>
        <div class="col-8 dashboardContent" >

          <span *ngIf="chargementCompteursMembres">
            <i class="fa fa-spinner fa-pulse"></i>
          </span>
          <span *ngIf="!chargementCompteursMembres">{{nbMembresActifs}}</span>
          <span>membres actifs</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" >
    <div class="dashboardBox pinkBackground" >
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-user fa-4x dashboardIcon" ></i>
        </div>
        <div class="col-8 dashboardContent" >
          <span *ngIf="chargementCompteursMembres">
            <i class="fa fa-spinner fa-pulse"></i>
          </span>
          <span *ngIf="!chargementCompteursMembres">{{nbDamesActives}}</span>
          <span>dames actives</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" >
    <div class="dashboardBox blueBackground" >
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-user fa-4x dashboardIcon" ></i>
        </div>
        <div class="col-8 dashboardContent" >
          <span *ngIf="chargementCompteursMembres">
            <i class="fa fa-spinner fa-pulse"></i>
          </span>
          <span *ngIf="!chargementCompteursMembres">{{nbMessieursActifs}}</span>
          <span>messieurs actifs</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" >
    <div class="dashboardBox orangeBackground" >
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-user fa-4x dashboardIcon" ></i>
        </div>
        <div class="col-8 dashboardContent withListingMembre" (click)="openMembres(membresInactifs);">
          <span *ngIf="chargementCompteursMembres">
            <i class="fa fa-spinner fa-pulse"></i>
          </span>
          <span *ngIf="!chargementCompteursMembres">
            {{nbMembresInactifs}}
          </span>
          <span>
            membres inactifs
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" >
    <div class="dashboardBox orangeBackground" >
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-user fa-4x dashboardIcon" ></i>
        </div>
        <div class="col-8 dashboardContent withListingMembre" (click)="openMembres(membresSansClubsActifs);" >
          <span *ngIf="chargementCompteursMembres">
            <i class="fa fa-spinner fa-pulse"></i>
          </span>
          <span *ngIf="!chargementCompteursMembres">{{nbMembresSansClubAFT}}</span>
          <span>membres actifs sans club AFT</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" >
    <div class="dashboardBox redBackground" >
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-user fa-4x dashboardIcon" ></i>
        </div>
        <div class="col-8 dashboardContent withListingMembre" (click)="openMembres(membresSansLocalite);">
          <span *ngIf="chargementCompteursMembres">
            <i class="fa fa-spinner fa-pulse"></i>
          </span>
          <span *ngIf="!chargementCompteursMembres">
            {{nbMembresSansLocalite}}
          </span>
          <span>
            membres actifs sans localité
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" >
    <div class="dashboardBox redBackground" >
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-user fa-4x dashboardIcon" ></i>
        </div>
        <div class="col-8 dashboardContent withListingMembre" (click)="openMembres(membresSansClassement);">
          <span *ngIf="chargementCompteursMembres">
            <i class="fa fa-spinner fa-pulse"></i>
          </span>
          <span *ngIf="!chargementCompteursMembres">{{nbMembresSansClassement}}</span>
          <span>membres actifs sans classement</span>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6"  style="background-color: white;padding:10px;">
    <canvas baseChart
            *ngIf="showGraph"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
