<div class="card tennisCorpoBox">
  <h4 class="card-header">
    Utilisateur
    <span style="float:right">
        <a (click)="supprimerUtilisateur();" class="deleteUserButton"><i class="fa fa-trash" ></i></a>
    </span>
  </h4>
  <div class="card-body">

    <div class="row">

      <div class="col-2">
        <div style="text-align:right;">
          <i class="fa fa-user fa-5x"></i>
        </div>
      </div>

      <div class="col-10">
        <div class="myBox myBoxEditable">
          <div class="myBoxTitle" (click)="ouvrirUtilisateurDetail();">
            Détails<span style="float:right;"><a><i class="fa fa-pencil fa-2"></i></a></span>
          </div>
          <div class="myBoxContent">
              <div class="col-12">
                <span><strong>{{utilisateur.username}}</strong></span>
              </div>
              <div class="col-12">
                <span>{{utilisateur.nom|uppercase}}&nbsp;</span><span>{{utilisateur.prenom}}</span>
              </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-12 text-center">
        <button class="btn btn-primary" (click)="resetPassword();" >Reset Password</button>
      </div>
</div>

</div>