.deleteUserButton{
    cursor:pointer;
}

.membreLink{
  cursor:pointer;
}

.membreLink:hover{
  cursor:pointer;
  background-color:lightblue;
}

.clearMembreButton{
  cursor:pointer;
  background-color:lightgrey;
  border-radius:10px;
}

