.deleteUserButton{
    cursor:pointer;
}

.adminStyle{
    color:red;
    font-weight: bold;
    font-style: italic;
}

.membreLink{
  cursor:pointer;
}

.membreLink:hover{
  cursor:pointer;
  background-color:lightblue;
}

.clearMembreButton{
  cursor:pointer;
  background-color:lightgrey;
  border-radius:10px;
}

