/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');

body {
  padding-top:80px;
  background-color:#DA6635;
}

.tennisCorpoBox{
  padding-bottom:25px;
  font-family: 'Raleway', sans-serif;
}

.myBox{
  margin:10px;
  border-radius:10px;
  background-color:lightgrey;
  border-color:lightgrey;
  border-style:solid;
  border-width: thin;
}
.myBox .myBoxTitle{
  padding:5px 10px 5px 10px;
  display: block;
}
.myBox .myBoxContent{
  padding:5px 5px 10px 10px;
  background-color:white;
  border-radius:0px 0px 10px 10px;
}
.myBox.myBoxEditable:hover .myBoxTitle {
  background-color:cornflowerblue;
  border-radius:10px 10px 0px 0px;
  cursor:pointer;
  color:white;
}

.menChampionship{
  color: steelblue;
}

.womenChampionship{
  color: pink;
}

.mixteChampionship{
    color:grey;
}

.championshipHeader{
  padding:15px;
  font-size:1.5em;
}

.menChampionshipHeader{
  background-color:steelblue;
}

.womenChampionshipHeader{
  background-color:pink;
}

.mixteChampionshipHeader{
    background:linear-gradient(90deg,pink, steelblue);
}

.summerTrophyType{
    color:darkorange
}

.winterTrophyType{
    color:skyblue;
}

.criteriumTrophyType{
    color:#e3cf7a;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

