<div class="card">
  <img class="card-img" src="/assets/images/home.jpg" alt="Card image">
  <div class="card-img-overlay">
    <div class="row">
      <div class="tennisCorpoBox col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card text-center">
          <h4 class="card-header">
            Rencontres
          </h4>
          <div class="card-body text-center">

          </div>
        </div>
      </div>
      <div class="tennisCorpoBox col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <app-rencontre-detail></app-rencontre-detail>
      </div>
    </div>
  </div>
</div>
