.rencontreTable:hover td{
  cursor:pointer;
}

.victorieux{
    font-weight:bold;
}

.viewButton{
  height:50px;
}

.selectedView{
  color:goldenrod;
  font-size:2em;
  text-shadow: 1px 1px 2px black;
  /*opacity:0.5;*/
}
