<div class="row">
    <div class="tennisCorpoBox col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card text-center">
            <div class="card-header">
              <div class="row" style="margin-bottom:10px;">
                <div class="col-3">
                  <button class="btn btn-block btn-sm btn-danger viewButton {{getSelectedViewClass(alertView)}}" (click)="changeToAlertView();"><i class="fa fa-warning"></i></button>
                </div>
                <div class="col-3">
                  <button class="btn btn-block btn-sm btn-info viewButton {{getSelectedViewClass(divisionView)}}" (click)="changeToDivisionView();"><i class="fa fa-trophy"></i></button>
                </div>
                <div class="col-3">
                  <button class="btn btn-block btn-sm btn-success viewButton {{getSelectedViewClass(clubView)}}" (click)="changeToClubView();"><i class="fa fa-users"></i></button>
                </div>
                <div class="col-3">
                  <button class="btn btn-block btn-sm btn-secondary viewButton {{getSelectedViewClass(dateView)}}" (click)="changeToDateView();"><i class="fa fa-calendar"></i></button>
                </div>
                <!--<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">-->
                  <!--<span *ngIf="rencontresAvecAlertes.length!=0" style="float:left;"><button class="btn btn-danger btn-sm" (click)="changeToAlertView();" ><i class="fa fa-forward"></i>&nbsp;Alertes</button><button class="btn btn-link" (click)="refreshAlertes();"><i class="text-dark fa fa-refresh"></i></button></span>-->
                <!--</div>-->
                <!--<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">-->
                  <!--<span *ngIf="!classicView" style="float:right;"><button class="btn btn-info btn-sm" (click)="changeToClassicView();"><i class="fa fa-forward"></i>&nbsp;Vue Championnat</button></span>-->
                  <!--<span *ngIf="classicView && !criteriumView" style="float:right;"><button class="btn btn-warning btn-sm" (click)="changeToCriteriumView();"><i class="fa fa-forward"></i>&nbsp;Vue par jour</button></span>-->
                <!--</div>-->
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Rencontres</h4>
                  <h6 *ngIf="alertView">Alertes</h6>
                  <h6 *ngIf="divisionView">Vue par division</h6>
                  <h6 *ngIf="clubView">Vue par club</h6>
                  <h6 *ngIf="dateView">Vue par jour</h6>
                </div>
              </div>
            </div>
            <div class="card-body text-center">

                <div *ngIf="divisionView || clubView" class="row">

                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <mat-form-field>
                            <mat-select placeholder="Championnat" [(ngModel)]="selectedChampionnat" (selectionChange)="loadDivisions();" >
                                <mat-option *ngFor="let championnat of championnats" [value]="championnat">

                                    <span>
                                        <i class="{{getTrophyClass(championnat)}}"></i>
                                        <i class="{{getTypeClass(championnat)}}" ></i>
                                    </span>

                                    <small>

                                        {{getTypeChampionnat(championnat).libelle}}
                                        {{championnat.annee}}
                                        {{getCategorieChampionnat(championnat).libelle}}

                                    </small>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                  <div *ngIf="clubView" class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <mat-form-field *ngIf="clubs.length>0">
                      <mat-select placeholder="Club" [(ngModel)]="selectedClub" (selectionChange)="loadRencontres();" >
                        <mat-option *ngFor="let club of clubs" [value]="club">
                          <small>
                            {{club.nom}}
                          </small>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                    <div *ngIf="divisionView" class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <mat-form-field *ngIf="divisions.length>0">
                            <mat-select placeholder="Division" [(ngModel)]="selectedDivision" (selectionChange)="loadRencontres();" >
                                <mat-option *ngFor="let division of divisions" [value]="division">
                                    <small>
                                        Division&nbsp;{{division.numero}}
                                    </small>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div *ngIf="divisionView" class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <mat-form-field *ngIf="poules.length>1">
                            <mat-select #pouleSelect placeholder="Contexte" [(ngModel)]="selectedPouleIds" multiple (selectionChange)="filtre()">
                                <mat-option *ngFor="let poule of poules" [value]="poule.id">
                                    <small>
                                        Poule&nbsp;{{ poule.numero }}
                                    </small>
                                </mat-option>
                                <mat-option value="0" ><small>Interséries</small></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                  <div *ngIf="clubView" class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <mat-form-field *ngIf="equipes.length>0">
                            <mat-select #teamSelect placeholder="Equipes" [(ngModel)]="selectedTeams" multiple (selectionChange)="filtre()">
                                <mat-option *ngFor="let equipe of equipes" [value]="equipe">
                                    <small>{{ equipe.codeAlphabetique }}</small>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <div *ngIf="dateView" class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                        <mat-form-field>
                          <input matInput size="10" [matDatepicker]="picker" placeholder="Date"
                                 [(ngModel)]="date" (dateChange)="loadRencontres();" >
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi="true" #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>

                <div class="row" >
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <mat-radio-group [(ngModel)]="selectedTypeRencontre" (change)="filtre()">
                            <mat-radio-button color="primary" *ngFor="let typeRencontre of typeRencontres" [value]="typeRencontre" style="margin-right:10px" >
                                <small>{{typeRencontre}}</small>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div *responsive="{bootstrap: ['sm','xs'] }" class="text-left" style="height:300px;overflow-y:auto;">

                    <div *ngIf="divisionView || clubView || alertView" >
                        <div *ngFor="let rencontre of filteredRencontres" (click)="ouvrirRencontreOnMobile(rencontre);" class="myBox text-left" style="cursor:pointer;">
                            <div class="myBoxTitle">
                                <i class="fa fa-windows fa-rotate-90"></i>&nbsp;{{rencontre.dateHeureRencontre| date:'dd/MM/yyyy HH:mm'}}
                              <span *ngIf="!isCriterium(rencontre) && rencontre.terrain"> - {{rencontre.terrain.nom}}</span>
                              <span *ngIf="isCriterium(rencontre) && rencontre.court"> - <em>Court {{rencontre.court.code}}</em></span> - {{getCategorieCode(rencontre)}}
                            </div>
                            <div class="myBoxContent">
                                <span *ngIf="rencontre.informationsInterserie"><small>{{rencontre.informationsInterserie}}</small><br/></span>
                                <span class="{{getVisitesClass(rencontre)}}">{{rencontre.equipeVisites.codeAlphabetique}}</span>
                                &nbsp;-&nbsp;
                                <span class="{{getVisiteursClass(rencontre)}}">{{rencontre.equipeVisiteurs.codeAlphabetique}}</span>&nbsp;:&nbsp;
                                <span class="{{getVisitesClass(rencontre)}}">{{rencontre.pointsVisites}}</span>&nbsp;-&nbsp;<span class="{{getVisiteursClass(rencontre)}}">{{rencontre.pointsVisiteurs}}</span>
                                <span *ngIf="rencontre.commentairesEncodeur">&nbsp;<i class="fa fa-commenting-o"></i></span>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="dateView" >
                      <div *ngFor="let rencontre of filteredRencontres" (click)="ouvrirRencontreOnMobile(rencontre);" class="myBox text-left" style="cursor:pointer;">
                            <div class="myBoxTitle">
                                <i class="fa fa-windows fa-rotate-90"></i>&nbsp;{{rencontre.dateHeureRencontre| date:'HH:mm'}}
                                <span *ngIf="!isCriterium(rencontre) && rencontre.terrain"> - {{rencontre.terrain.nom}}</span>
                                <span *ngIf="isCriterium(rencontre) && rencontre.court"> - <em>Court {{rencontre.court.code}}</em></span> - {{getCategorieCode(rencontre)}}
                            </div>
                            <div class="myBoxContent">
                                <span class="{{getVisitesClass(rencontre)}}">{{rencontre.equipeVisites.codeAlphabetique}}</span>
                                &nbsp;-&nbsp;
                                <span class="{{getVisiteursClass(rencontre)}}">{{rencontre.equipeVisiteurs.codeAlphabetique}}</span>&nbsp;:&nbsp;
                                <span class="{{getVisitesClass(rencontre)}}">{{rencontre.pointsVisites}}</span>&nbsp;-&nbsp;<span class="{{getVisiteursClass(rencontre)}}">{{rencontre.pointsVisiteurs}}</span>
                                <span *ngIf="rencontre.commentairesEncodeur">&nbsp;<i class="fa fa-commenting-o"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div *responsive="{bootstrap: ['md','lg','xl'] }" class="text-left">
                    <div *ngIf="divisionView || clubView || alertView" class="table-responsive" style="height:300px;">
                        <table class="rencontreTable table table-sm table-hover" matSort (matSortChange)="sortData($event)">
                               <!--table-striped-->
                               <thead class="bg-info" >
                                <tr>
                                    <th scope="col" mat-sort-header="dateHeureRencontre">Date/heure</th>
                                    <th *ngIf="clubView || alertView" scope="col" mat-sort-header="categorie">Catégorie</th>
                                    <th scope="col" mat-sort-header="terrain">Terrain</th>
                                    <th scope="col" mat-sort-header="equipeVisites" >Visités</th>
                                    <th scope="col" mat-sort-header="equipeVisiteurs" >Visiteurs</th>
                                    <th scope="col" >Résultat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rencontre of filteredRencontres" (click)="ouvrirRencontre(rencontre);" class="text-left">
                                    <td class="text-uppercase">{{rencontre.dateHeureRencontre| date:'dd/MM/yyyy HH:mm'}}</td>
                                    <td *ngIf="clubView || alertView">{{getCategorieCode(rencontre)}}</td>
                                    <td>
                                      <span *ngIf="!isCriterium(rencontre) && rencontre.terrain">{{rencontre.terrain.nom}}</span>
                                      <span *ngIf="isCriterium(rencontre) && rencontre.court"><em>Court {{rencontre.court.code}}</em></span>
                                    </td>
                                    <td><span *ngIf="rencontre.informationsInterserie"><small>{{rencontre.informationsInterserie}}</small><br/></span><span class="{{getVisitesClass(rencontre)}}">{{rencontre.equipeVisites.codeAlphabetique}}</span></td>
                                    <td><span *ngIf="rencontre.informationsInterserie"><br/></span><span class="{{getVisiteursClass(rencontre)}}">{{rencontre.equipeVisiteurs.codeAlphabetique}}</span></td>
                                  <td><span *ngIf="rencontre.informationsInterserie"><br/></span><span class="{{getVisitesClass(rencontre)}}">{{rencontre.pointsVisites}}</span> - <span class="{{getVisiteursClass(rencontre)}}">{{rencontre.pointsVisiteurs}}</span><span *ngIf="rencontre.commentairesEncodeur">&nbsp;<i class="fa fa-commenting-o"></i></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="dateView" class="table-responsive" style="height:300px;">
                        <table class="rencontreTable table table-sm table-hover" matSort (matSortChange)="sortData($event)">
                               <!--table-striped-->
                               <thead class="bg-info" >
                                <tr>
                                    <th scope="col" mat-sort-header="dateHeureRencontre">Heure</th>
                                    <th scope="col" mat-sort-header="categorie">Catégorie</th>
                                    <th scope="col" mat-sort-header="court">Terrain</th>
                                    <th scope="col" mat-sort-header="equipeVisites" >Visités</th>
                                    <th scope="col" mat-sort-header="equipeVisiteurs" >Visiteurs</th>
                                    <th scope="col" >Résultat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rencontre of filteredRencontres" (click)="ouvrirRencontre(rencontre);" class="text-left">
                                    <td class="text-uppercase">{{rencontre.dateHeureRencontre| date:'HH:mm'}}</td>
                                    <td>{{getCategorieCode(rencontre)}}</td>
                                    <td>
                                      <span *ngIf="!isCriterium(rencontre) && rencontre.terrain">{{rencontre.terrain.nom}}</span>
                                      <span *ngIf="isCriterium(rencontre) && rencontre.court"><em>Court {{rencontre.court.code}}</em></span>
                                    </td>
                                    <td><span class="{{getVisitesClass(rencontre)}}">{{rencontre.equipeVisites.codeAlphabetique}}</span></td>
                                    <td><span class="{{getVisiteursClass(rencontre)}}">{{rencontre.equipeVisiteurs.codeAlphabetique}}</span></td>
                                    <td><span class="{{getVisitesClass(rencontre)}}">{{rencontre.pointsVisites}}</span> - <span class="{{getVisiteursClass(rencontre)}}">{{rencontre.pointsVisiteurs}}</span><span *ngIf="rencontre.commentairesEncodeur">&nbsp;<i class="fa fa-commenting-o"></i></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div *ngIf="divisionView" style="margin-top:10px;">
                  <div *ngIf="poules.length>1 && selectedDivision && !selectedDivision.multiIS && !selectedDivision.withFinales" class="alert alert-info" role="alert">
                    <small>Une rencontre intersérie sera organisée entre les premiers de chaque poule.</small>
                  </div>
                  <div *ngIf="poules.length>1 && selectedDivision && selectedDivision.multiIS && !selectedDivision.withFinales" class="alert alert-info" role="alert">
                    <small>Plusieurs rencontres interséries seront organisées. Chaque équipe affronte l'équipe ayant le même classement dans l'autre poule.</small>
                  </div>
                  <div *ngIf="poules.length>1 && selectedDivision && !selectedDivision.multiIS && selectedDivision.withFinales" class="alert alert-info" role="alert">
                    <small>Seules les deux premières équipes de chaque poule s'affronteront de manière croisée
                    (1<sup>er</sup> contre 2<sup>nd</sup> et inversément) avant une petite et une grande finale.</small>
                  </div>
                  <div *ngIf="poules.length>1 && selectedDivision && selectedDivision.multiIS && selectedDivision.withFinales" class="alert alert-info" role="alert">
                    <small>Plusieurs rencontres interséries seront organisées. Chaque équipe affronte l'équipe ayant le même classement
                    dans l'autre poule à l'exception des deux premiers de chaque poule qui s'affronteront de manière croisée
                    (1<sup>er</sup> contre 2<sup>nd</sup> et inversément) avant une petite et une grande finale.</small>
                  </div>
                </div>

                <div *ngIf="isInterseriesPossibles()" align="right" style="margin-top:10px;">
                    <button class="btn btn-secondary" (click)="createInterserie();" ><i class="fa fa-plus-circle"></i>&nbsp;Intersérie</button>
                </div>

            </div>
        </div>
    </div>
    <div #rencontreDetail class="tennisCorpoBox col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <app-rencontre-detail *ngIf="selectedRencontre" [rencontre]="selectedRencontre"></app-rencontre-detail>
    </div>
</div>
