<div class="container">
  <div class="row" style="margin:25px">
    <div class="col-3" style="border-left:2px solid white;border-right:2px solid white;border-top:2px solid white;"></div>
    <div class="col-3" align="center" style="border-right:1px solid white;border-top:2px solid white;border-bottom:1px solid white;">
      <button class="btn btn-sm"  >JA-2</button>
    </div>
    <div class="col-3" style="border-left:1px solid white;border-right:1px solid white;border-bottom:1px solid white;border-top:2px solid white;"></div>
    <div class="col-3" align="center" style="border-left:1px solid white;border-right:2px solid white;border-top:2px solid white;">
        <button class="btn btn-sm" >JB-1</button>
    </div>
    <div class="w-100"></div>
    <div class="col-3" align="center" style="border-left:2px solid white;border-right:2px solid white;border-bottom:2px solid white;">
      <button class="btn btn-sm" >JA-1</button>
    </div>
    <div class="col-3" style="border-right:1px solid white;border-top:1px solid white;border-bottom:2px solid white;"></div>
    <div class="col-3" align="center" style="border-left:1px solid white;border-right:1px solid white;border-bottom:2px solid white;border-top:1px solid white;">
      <button class="btn btn-sm">JB-2</button>
    </div>
    <div class="col-3" style="border-left:1px solid white;border-right:2px solid white;border-bottom:2px solid white;"></div>
  </div>
</div>
