.progressDiv{
  margin:25px;
}

a.documentLink, a.documentLink:hover{
    text-decoration: underline;
    color:blue;
    cursor:pointer;
}

.tennisCorpoWarningBox{
  background-color:lightgreen;
  border-radius:5px;
  padding:15px;
  margin:10px;
}

.tennisCorpoWarningIcon{
  float:left;
  color:grey;
  opacity: 0.33;
  margin-right:10px;
}

a.tennisCorpoWarningLink {
  font-size:1.3em;
  color:grey;
}
