<div class="card">
  <!--<img class="card-img" src="/assets/images/home.jpg" alt="Card image">-->
  <div class="card-img-overlay">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="card text-center">
          <div class="card-header">
            Prochaines rencontres
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" >
        <div class="card text-center">
          <div class="card-header">
            Derniers résultats
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" >
        <div class="card">
          <div class="card-header">
            Liens utiles
          </div>
          <div class="card-body">
            <a href="http://www.aftnet.be/" target="_blank">Site de l'AFT</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width:100%">

  <!--<img src="/assets/images/home.jpg" style="width:100%;" />-->
</div>
